html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  color: #333333;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.main, #payment-method-collect, #orca-payment-element-iframeRef-payment-method-collect {
  width: 100vh;
  height: 100vw;
}

.main {
  overflow: hidden;
}

#payment-method-collect {
  overflow: scroll;
}

@media only screen and (max-width: 1199px) {
  body {
    overflow-y: scroll;
  }

  .main {
    width: auto;
    min-width: 300px;
  }
}
