[package]
name = "common_enums"
description = "Enums shared across the request/response types and database types"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
readme = "README.md"
license.workspace = true

[features]
dummy_connector = []

[dependencies]
diesel = { version = "2.1.0", features = ["postgres"] }
error-stack = "0.3.1"
serde  = { version = "1.0.160", features = [ "derive" ] }
serde_json = "1.0.96"
strum  = { version = "0.25", features = [ "derive" ] }
time = { version = "0.3.20", features = ["serde", "serde-well-known", "std"] }
utoipa = { version = "3.3.0", features = ["preserve_order"] }

# First party crates
common_utils = { version = "0.1.0", path = "../common_utils" }
router_derive = { version = "0.1.0", path = "../router_derive" }

[dev-dependencies]
serde_json = "1.0.96"
