{
  "openapi": "3.0.3",
  "x-mcp": {
    "enabled": true
  },
  "info": {
    "title": "Hyperswitch - API Documentation",
    "description": "\n## Get started\n\nHyperswitch provides a collection of APIs that enable you to process and manage payments.\nOur APIs accept and return JSON in the HTTP body, and return standard HTTP response codes.\n\nYou can consume the APIs directly using your favorite HTTP/REST library.\n\nWe have a testing environment referred to \"sandbox\", which you can setup to test API calls without\naffecting production data.\nCurrently, our sandbox environment is live while our production environment is under development\nand will be available soon.\nYou can sign up on our Dashboard to get API keys to access Hyperswitch API.\n\n### Environment\n\nUse the following base URLs when making requests to the APIs:\n\n| Environment   |  Base URL                          |\n|---------------|------------------------------------|\n| Sandbox       | <https://sandbox.hyperswitch.io>   |\n| Production    | <https://api.hyperswitch.io>       |\n\n## Authentication\n\nWhen you sign up on our [dashboard](https://app.hyperswitch.io) and create a merchant\naccount, you are given a secret key (also referred as api-key) and a publishable key.\nYou may authenticate all API requests with Hyperswitch server by providing the appropriate key in\nthe request Authorization header.\n\n| Key             |  Description                                                                                  |\n|-----------------|-----------------------------------------------------------------------------------------------|\n| api-key         | Private key. Used to authenticate all API requests from your merchant server                  |\n| publishable key | Unique identifier for your account. Used to authenticate API requests from your app's client  |\n\nNever share your secret api keys. Keep them guarded and secure.\n",
    "contact": {
      "name": "Hyperswitch Support",
      "url": "https://hyperswitch.io",
      "email": "hyperswitch@juspay.in"
    },
    "license": {
      "name": "Apache-2.0"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://sandbox.hyperswitch.io",
      "description": "Sandbox Environment"
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Create",
        "description": "Creates a payment resource, which represents a customer's intent to pay.\nThis endpoint is the starting point for various payment flows:\n",
        "operationId": "Create a Payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsCreateRequest"
              },
              "examples": {
                "01. Create a payment with minimal fields": {
                  "value": {
                    "amount": 6540,
                    "currency": "USD"
                  }
                },
                "02. Create a payment with customer details and metadata": {
                  "value": {
                    "amount": 6540,
                    "currency": "USD",
                    "customer": {
                      "email": "john@example.com",
                      "id": "cus_abcdefgh",
                      "name": "John Dough",
                      "phone": "9123456789"
                    },
                    "description": "Its my first payment request",
                    "metadata": {
                      "udf1": "some-value",
                      "udf2": "some-value"
                    },
                    "payment_id": "abcdefghijklmnopqrstuvwxyz",
                    "statement_descriptor_name": "joseph",
                    "statement_descriptor_suffix": "JS"
                  }
                },
                "03. Create a 3DS payment": {
                  "value": {
                    "amount": 6540,
                    "authentication_type": "three_ds",
                    "currency": "USD"
                  }
                },
                "04. Create a manual capture payment (basic)": {
                  "value": {
                    "amount": 6540,
                    "capture_method": "manual",
                    "currency": "USD"
                  }
                },
                "05. Create a setup mandate payment": {
                  "value": {
                    "amount": 6540,
                    "authentication_type": "no_three_ds",
                    "confirm": true,
                    "currency": "USD",
                    "customer_acceptance": {
                      "acceptance_type": "online",
                      "accepted_at": "1963-05-03T04:07:52.723Z",
                      "online": {
                        "ip_address": "127.0.0.1",
                        "user_agent": "amet irure esse"
                      }
                    },
                    "customer_id": "StripeCustomer123",
                    "mandate_data": {
                      "customer_acceptance": {
                        "acceptance_type": "online",
                        "accepted_at": "1963-05-03T04:07:52.723Z",
                        "online": {
                          "ip_address": "127.0.0.1",
                          "user_agent": "amet irure esse"
                        }
                      },
                      "mandate_type": {
                        "single_use": {
                          "amount": 6540,
                          "currency": "USD"
                        }
                      }
                    },
                    "payment_method": "card",
                    "payment_method_data": {
                      "card": {
                        "card_cvc": "123",
                        "card_exp_month": "10",
                        "card_exp_year": "25",
                        "card_holder_name": "joseph Doe",
                        "card_number": "4242424242424242"
                      }
                    },
                    "setup_future_usage": "off_session"
                  }
                },
                "06. Create a recurring payment with mandate_id": {
                  "value": {
                    "amount": 6540,
                    "authentication_type": "no_three_ds",
                    "confirm": true,
                    "currency": "USD",
                    "customer_id": "StripeCustomer",
                    "mandate_id": "{{mandate_id}}",
                    "off_session": true
                  }
                },
                "07. Create a payment and save the card": {
                  "value": {
                    "amount": 6540,
                    "authentication_type": "no_three_ds",
                    "confirm": true,
                    "currency": "USD",
                    "customer_acceptance": {
                      "acceptance_type": "online",
                      "accepted_at": "1963-05-03T04:07:52.723Z",
                      "online": {
                        "ip_address": "127.0.0.1",
                        "user_agent": "amet irure esse"
                      }
                    },
                    "customer_id": "StripeCustomer123",
                    "payment_method": "card",
                    "payment_method_data": {
                      "card": {
                        "card_cvc": "123",
                        "card_exp_month": "10",
                        "card_exp_year": "25",
                        "card_holder_name": "joseph Doe",
                        "card_number": "4242424242424242"
                      }
                    },
                    "setup_future_usage": "off_session"
                  }
                },
                "08. Create a payment using an already saved card's token": {
                  "value": {
                    "amount": 6540,
                    "card_cvc": "123",
                    "client_secret": "{{client_secret}}",
                    "confirm": true,
                    "currency": "USD",
                    "payment_method": "card",
                    "payment_token": "{{payment_token}}"
                  }
                },
                "09. Create a payment with billing details": {
                  "value": {
                    "amount": 6540,
                    "billing": {
                      "address": {
                        "city": "San Fransico",
                        "country": "US",
                        "first_name": "joseph",
                        "last_name": "Doe",
                        "line1": "1467",
                        "line2": "Harrison Street",
                        "line3": "Harrison Street",
                        "state": "California",
                        "zip": "94122"
                      },
                      "phone": {
                        "country_code": "+91",
                        "number": "9123456789"
                      }
                    },
                    "currency": "USD",
                    "customer": {
                      "id": "cus_abcdefgh"
                    }
                  }
                },
                "10. Create a Stripe Split Payments CIT call": {
                  "value": {
                    "amount": 200,
                    "amount_to_capture": 200,
                    "authentication_type": "no_three_ds",
                    "billing": {
                      "address": {
                        "city": "San Fransico",
                        "country": "US",
                        "first_name": "joseph",
                        "last_name": "Doe",
                        "line1": "1467",
                        "line2": "Harrison Street",
                        "line3": "Harrison Street",
                        "state": "California",
                        "zip": "94122"
                      },
                      "phone": {
                        "country_code": "+91",
                        "number": "9999999999"
                      }
                    },
                    "capture_method": "automatic",
                    "confirm": true,
                    "currency": "USD",
                    "customer_acceptance": {
                      "acceptance_type": "offline",
                      "accepted_at": "1963-05-03T04:07:52.723Z",
                      "online": {
                        "ip_address": "125.0.0.1",
                        "user_agent": "amet irure esse"
                      }
                    },
                    "customer_id": "StripeCustomer123",
                    "description": "Its my first payment request",
                    "name": "John Doe",
                    "payment_method": "card",
                    "payment_method_data": {
                      "card": {
                        "card_cvc": "123",
                        "card_exp_month": "09",
                        "card_exp_year": "25",
                        "card_holder_name": "joseph Doe",
                        "card_number": "4242424242424242"
                      }
                    },
                    "payment_method_type": "debit",
                    "phone": "999999999",
                    "phone_country_code": "+65",
                    "profile_id": "pro_abcdefghijklmnop",
                    "return_url": "https://hyperswitch.io",
                    "setup_future_usage": "off_session",
                    "split_payments": {
                      "stripe_split_payment": {
                        "application_fees": 100,
                        "charge_type": "direct",
                        "transfer_account_id": "acct_123456789"
                      }
                    }
                  }
                },
                "11. Create a Stripe Split Payments MIT call": {
                  "value": {
                    "amount": 200,
                    "confirm": true,
                    "currency": "USD",
                    "customer_id": "StripeCustomer123",
                    "description": "Subsequent Mandate Test Payment (MIT from New CIT Demo)",
                    "off_session": true,
                    "profile_id": "pro_abcdefghijklmnop",
                    "recurring_details": {
                      "data": "pm_123456789",
                      "type": "payment_method_id"
                    },
                    "split_payments": {
                      "stripe_split_payment": {
                        "application_fees": 11,
                        "charge_type": "direct",
                        "transfer_account_id": "acct_123456789"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsCreateResponseOpenApi"
                },
                "examples": {
                  "01. Response for minimal payment creation (requires payment method)": {
                    "value": {
                      "amount": 6540,
                      "amount_capturable": 6540,
                      "attempt_count": 1,
                      "client_secret": "pay_syxxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "created": "2023-10-26T10:00:00Z",
                      "currency": "USD",
                      "expires_on": "2023-10-26T10:15:00Z",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_syxxxxxxxxxxxx",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "status": "requires_payment_method"
                    }
                  },
                  "02. Response for payment with customer details (requires payment method)": {
                    "value": {
                      "amount": 6540,
                      "attempt_count": 1,
                      "client_secret": "pay_custmeta_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "created": "2023-10-26T10:05:00Z",
                      "currency": "USD",
                      "customer": {
                        "email": "john@example.com",
                        "id": "cus_abcdefgh",
                        "name": "John Dough",
                        "phone": "9123456789"
                      },
                      "customer_id": "cus_abcdefgh",
                      "description": "Its my first payment request",
                      "ephemeral_key": {
                        "customer_id": "cus_abcdefgh",
                        "secret": "epk_ephemeralxxxxxxxxxxxx"
                      },
                      "expires_on": "2023-10-26T10:20:00Z",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "metadata": {
                        "udf1": "some-value",
                        "udf2": "some-value"
                      },
                      "payment_id": "pay_custmeta_xxxxxxxxxxxx",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "statement_descriptor_name": "joseph",
                      "statement_descriptor_suffix": "JS",
                      "status": "requires_payment_method"
                    }
                  },
                  "03. Response for 3DS payment creation (requires payment method)": {
                    "value": {
                      "amount": 6540,
                      "attempt_count": 1,
                      "authentication_type": "three_ds",
                      "client_secret": "pay_3ds_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "created": "2023-10-26T10:10:00Z",
                      "currency": "USD",
                      "expires_on": "2023-10-26T10:25:00Z",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_3ds_xxxxxxxxxxxx",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "status": "requires_payment_method"
                    }
                  },
                  "04. Response for basic manual capture payment (requires payment method)": {
                    "value": {
                      "amount": 6540,
                      "attempt_count": 1,
                      "capture_method": "manual",
                      "client_secret": "pay_manualcap_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "created": "2023-10-26T10:15:00Z",
                      "currency": "USD",
                      "expires_on": "2023-10-26T10:30:00Z",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_manualcap_xxxxxxxxxxxx",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "status": "requires_payment_method"
                    }
                  },
                  "05. Response for successful setup mandate payment": {
                    "value": {
                      "amount": 6540,
                      "amount_capturable": 0,
                      "amount_received": 6540,
                      "attempt_count": 1,
                      "authentication_type": "no_three_ds",
                      "client_secret": "pay_mandatesetup_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "connector": "fauxpay",
                      "connector_transaction_id": "txn_connectortransidxxxx",
                      "created": "2023-10-26T10:20:00Z",
                      "currency": "USD",
                      "customer_id": "StripeCustomer123",
                      "ephemeral_key": {
                        "customer_id": "StripeCustomer123",
                        "secret": "epk_ephemeralxxxxxxxxxxxx"
                      },
                      "mandate_data": {
                        "customer_acceptance": {
                          "acceptance_type": "online",
                          "accepted_at": "1963-05-03T04:07:52.723Z",
                          "online": {
                            "ip_address": "127.0.0.1",
                            "user_agent": "amet irure esse"
                          }
                        },
                        "mandate_type": {
                          "single_use": {
                            "amount": 6540,
                            "currency": "USD"
                          }
                        }
                      },
                      "mandate_id": "man_xxxxxxxxxxxx",
                      "merchant_connector_id": "mca_mcaconnectorxxxx",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_mandatesetup_xxxxxxxxxxxx",
                      "payment_method": "card",
                      "payment_method_data": {
                        "card": {
                          "card_exp_month": "10",
                          "card_exp_year": "25",
                          "card_holder_name": "joseph Doe",
                          "last4": "4242"
                        }
                      },
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "setup_future_usage": "on_session",
                      "status": "succeeded"
                    }
                  },
                  "06. Response for successful recurring payment with mandate_id": {
                    "value": {
                      "amount": 6540,
                      "amount_capturable": 0,
                      "amount_received": 6540,
                      "attempt_count": 1,
                      "authentication_type": "no_three_ds",
                      "client_secret": "pay_recurring_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "connector": "fauxpay",
                      "connector_transaction_id": "txn_connectortransidxxxx",
                      "created": "2023-10-26T10:22:00Z",
                      "currency": "USD",
                      "customer_id": "StripeCustomer",
                      "mandate_id": "{{mandate_id}}",
                      "merchant_connector_id": "mca_mcaconnectorxxxx",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "off_session": true,
                      "payment_id": "pay_recurring_xxxxxxxxxxxx",
                      "payment_method": "card",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "status": "succeeded"
                    }
                  },
                  "07. Response for successful payment with card saved": {
                    "value": {
                      "amount": 6540,
                      "amount_capturable": 0,
                      "amount_received": 6540,
                      "attempt_count": 1,
                      "authentication_type": "no_three_ds",
                      "client_secret": "pay_savecard_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "connector": "fauxpay",
                      "connector_transaction_id": "txn_connectortransidxxxx",
                      "created": "2023-10-26T10:25:00Z",
                      "currency": "USD",
                      "customer_id": "StripeCustomer123",
                      "ephemeral_key": {
                        "customer_id": "StripeCustomer123",
                        "secret": "epk_ephemeralxxxxxxxxxxxx"
                      },
                      "merchant_connector_id": "mca_mcaconnectorxxxx",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_savecard_xxxxxxxxxxxx",
                      "payment_method": "card",
                      "payment_method_data": {
                        "card": {
                          "card_exp_month": "10",
                          "card_exp_year": "25",
                          "card_holder_name": "joseph Doe",
                          "last4": "4242"
                        }
                      },
                      "payment_token": null,
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "setup_future_usage": "on_session",
                      "status": "succeeded"
                    }
                  },
                  "08. Response for successful payment using saved card token": {
                    "value": {
                      "amount": 6540,
                      "amount_capturable": 0,
                      "amount_received": 6540,
                      "attempt_count": 1,
                      "client_secret": "pay_token_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "connector": "fauxpay",
                      "connector_transaction_id": "txn_connectortransidxxxx",
                      "created": "2023-10-26T10:27:00Z",
                      "currency": "USD",
                      "merchant_connector_id": "mca_mcaconnectorxxxx",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_token_xxxxxxxxxxxx",
                      "payment_method": "card",
                      "payment_token": "{{payment_token}}",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "status": "succeeded"
                    }
                  },
                  "09. Response for payment with billing details (requires payment method)": {
                    "value": {
                      "amount": 6540,
                      "attempt_count": 1,
                      "billing": {
                        "address": {
                          "city": "San Fransico",
                          "country": "US",
                          "first_name": "joseph",
                          "last_name": "Doe",
                          "line1": "1467",
                          "line2": "Harrison Street",
                          "state": "California",
                          "zip": "94122"
                        },
                        "phone": {
                          "country_code": "+91",
                          "number": "9123456789"
                        }
                      },
                      "client_secret": "pay_manualbill_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "created": "2023-10-26T10:30:00Z",
                      "currency": "USD",
                      "customer": {
                        "email": "john@example.com",
                        "id": "cus_abcdefgh",
                        "name": "John Dough",
                        "phone": "9123456789"
                      },
                      "customer_id": "cus_abcdefgh",
                      "ephemeral_key": {
                        "customer_id": "cus_abcdefgh",
                        "secret": "epk_ephemeralxxxxxxxxxxxx"
                      },
                      "expires_on": "2023-10-26T10:45:00Z",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_manualbill_xxxxxxxxxxxx",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "status": "requires_payment_method"
                    }
                  },
                  "10. Response for the CIT call for Stripe Split Payments": {
                    "value": {
                      "amount": 200,
                      "attempt_count": 1,
                      "billing": {
                        "address": {
                          "city": "San Fransico",
                          "country": "US",
                          "first_name": "joseph",
                          "last_name": "Doe",
                          "line1": "1467",
                          "line2": "Harrison Street",
                          "state": "California",
                          "zip": "94122"
                        },
                        "phone": {
                          "country_code": "+91",
                          "number": "9123456789"
                        }
                      },
                      "client_secret": "pay_manualbill_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "connector_mandate_id": "pm_abcdefgh",
                      "created": "2023-10-26T10:30:00Z",
                      "currency": "USD",
                      "customer": {
                        "email": "john@example.com",
                        "id": "cus_abcdefgh",
                        "name": "John Dough",
                        "phone": "9123456789"
                      },
                      "customer_id": "cus_abcdefgh",
                      "ephemeral_key": {
                        "customer_id": "cus_abcdefgh",
                        "secret": "epk_ephemeralxxxxxxxxxxxx"
                      },
                      "expires_on": "2023-10-26T10:45:00Z",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_manualbill_xxxxxxxxxxxx",
                      "payment_method_id": "pm_123456789",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "status": "succeeded"
                    }
                  },
                  "11. Response for the MIT call for Stripe Split Payments": {
                    "value": {
                      "amount": 200,
                      "attempt_count": 1,
                      "billing": {
                        "address": {
                          "city": "San Fransico",
                          "country": "US",
                          "first_name": "joseph",
                          "last_name": "Doe",
                          "line1": "1467",
                          "line2": "Harrison Street",
                          "state": "California",
                          "zip": "94122"
                        },
                        "phone": {
                          "country_code": "+91",
                          "number": "9123456789"
                        }
                      },
                      "client_secret": "pay_manualbill_xxxxxxxxxxxx_secret_szzzzzzzzzzz",
                      "connector_mandate_id": "pm_abcdefgh",
                      "created": "2023-10-26T10:30:00Z",
                      "currency": "USD",
                      "customer": {
                        "email": "john@example.com",
                        "id": "cus_abcdefgh",
                        "name": "John Dough",
                        "phone": "9123456789"
                      },
                      "customer_id": "cus_abcdefgh",
                      "ephemeral_key": {
                        "customer_id": "cus_abcdefgh",
                        "secret": "epk_ephemeralxxxxxxxxxxxx"
                      },
                      "expires_on": "2023-10-26T10:45:00Z",
                      "merchant_id": "merchant_myyyyyyyyyyyy",
                      "payment_id": "pay_manualbill_xxxxxxxxxxxx",
                      "payment_method_id": "pm_123456789",
                      "profile_id": "pro_pzzzzzzzzzzz",
                      "status": "succeeded"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Update",
        "description": "To update the properties of a *PaymentIntent* object. This may include attaching a payment method, or attaching customer object or metadata fields after the Payment is created",
        "operationId": "Update a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsUpdateRequest"
              },
              "examples": {
                "Update the payment amount": {
                  "value": {
                    "amount": 7654
                  }
                },
                "Update the shipping address": {
                  "value": {
                    "shipping": {
                      "address": {
                        "city": "San Fransico",
                        "country": "US",
                        "first_name": "joseph",
                        "last_name": "Doe",
                        "line1": "1467",
                        "line2": "Harrison Street",
                        "line3": "Harrison Street",
                        "state": "California",
                        "zip": "94122"
                      },
                      "phone": {
                        "country_code": "+91",
                        "number": "9123456789"
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsCreateResponseOpenApi"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "publishable_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Retrieve",
        "description": "Retrieves a Payment. This API can also be used to get the status of a previously initiated payment or next action for an ongoing payment",
        "operationId": "Retrieve a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force_sync",
            "in": "query",
            "description": "Decider to enable or disable the connector call for retrieve request",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "description": "This is a token which expires after 15 minutes, used from the client to authenticate and create sessions from the SDK",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "expand_attempts",
            "in": "query",
            "description": "If enabled provides list of attempts linked to payment intent",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "expand_captures",
            "in": "query",
            "description": "If enabled provides list of captures linked to latest attempt",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the payment with final status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                }
              }
            }
          },
          "404": {
            "description": "No payment found"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/confirm": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Confirm",
        "description": "Confirms a payment intent that was previously created with `confirm: false`. This action attempts to authorize the payment with the payment processor.\n\nExpected status transitions after confirmation:\n- `succeeded`: If authorization is successful and `capture_method` is `automatic`.\n- `requires_capture`: If authorization is successful and `capture_method` is `manual`.\n- `failed`: If authorization fails.",
        "operationId": "Confirm a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsConfirmRequest"
              },
              "examples": {
                "Confirm a payment with payment method data": {
                  "value": {
                    "customer_acceptance": {
                      "acceptance_type": "online",
                      "accepted_at": "1963-05-03T04:07:52.723Z",
                      "online": {
                        "ip_address": "127.0.0.1",
                        "user_agent": "amet irure esse"
                      }
                    },
                    "payment_method": "card",
                    "payment_method_data": {
                      "card": {
                        "card_cvc": "123",
                        "card_exp_month": "10",
                        "card_exp_year": "25",
                        "card_holder_name": "joseph Doe",
                        "card_number": "4242424242424242"
                      }
                    },
                    "payment_method_type": "credit"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsCreateResponseOpenApi"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/capture": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Capture",
        "description": "Captures the funds for a previously authorized payment intent where `capture_method` was set to `manual` and the payment is in a `requires_capture` state.\n\nUpon successful capture, the payment status usually transitions to `succeeded`.\nThe `amount_to_capture` can be specified in the request body; it must be less than or equal to the payment's `amount_capturable`. If omitted, the full capturable amount is captured.\n\nA payment must be in a capturable state (e.g., `requires_capture`). Attempting to capture an already `succeeded` (and fully captured) payment or one in an invalid state will lead to an error.\n",
        "operationId": "Capture a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsCaptureRequest"
              },
              "examples": {
                "Capture partial amount": {
                  "value": {
                    "amount_to_capture": 654
                  }
                },
                "Capture the full amount": {
                  "value": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment captured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/payments/session_tokens": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Session token",
        "description": "Creates a session object or a session token for wallets like Apple Pay, Google Pay, etc. These tokens are used by Hyperswitch's SDK to initiate these wallets' SDK.",
        "operationId": "Create Session tokens for a Payment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment session object created or session token was retrieved from wallets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/cancel": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Cancel",
        "description": "A Payment could can be cancelled when it is in one of these statuses: `requires_payment_method`, `requires_capture`, `requires_confirmation`, `requires_customer_action`.",
        "operationId": "Cancel a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsCancelRequest"
              },
              "examples": {
                "Cancel the payment with cancellation reason": {
                  "value": {
                    "cancellation_reason": "requested_by_customer"
                  }
                },
                "Cancel the payment with minimal fields": {
                  "value": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment canceled"
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/cancel_post_capture": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Cancel Post Capture",
        "description": "A Payment could can be cancelled when it is in one of these statuses: `succeeded`, `partially_captured`, `partially_captured_and_capturable`.",
        "operationId": "Cancel a Payment Post Capture",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsCancelPostCaptureRequest"
              },
              "examples": {
                "Cancel the payment post capture with cancellation reason": {
                  "value": {
                    "cancellation_reason": "requested_by_customer"
                  }
                },
                "Cancel the payment post capture with minimal fields": {
                  "value": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment canceled post capture"
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/extend_authorization": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Extended Authorization",
        "description": "Extended authorization is available for payments currently in the `requires_capture` status\nCall this endpoint to increase the authorization validity period",
        "operationId": "Extend authorization period for a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extended authorization for the payment"
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/payments/list": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - List",
        "description": "To list the *payments*",
        "operationId": "List all Payments",
        "parameters": [
          {
            "name": "customer_id",
            "in": "query",
            "description": "The identifier for the customer",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "A cursor for use in pagination, fetch the next list after some object",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "A cursor for use in pagination, fetch the previous list before some object",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit on the number of objects to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "created",
            "in": "query",
            "description": "The time at which payment is created",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "created_lt",
            "in": "query",
            "description": "Time less than the payment created time",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "created_gt",
            "in": "query",
            "description": "Time greater than the payment created time",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "created_lte",
            "in": "query",
            "description": "Time less than or equals to the payment created time",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "created_gte",
            "in": "query",
            "description": "Time greater than or equals to the payment created time",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a payment list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentListResponse"
                  }
                }
              }
            }
          },
          "404": {
            "description": "No payments found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/incremental_authorization": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Incremental Authorization",
        "description": "Authorized amount for a payment can be incremented if it is in status: requires_capture",
        "operationId": "Increment authorized amount for a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsIncrementalAuthorizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment authorized amount incremented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/payment_link/{payment_link_id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments Link - Retrieve",
        "description": "To retrieve the properties of a Payment Link. This may be used to get the status of a previously initiated payment or next action for an ongoing payment",
        "operationId": "Retrieve a Payment Link",
        "parameters": [
          {
            "name": "payment_link_id",
            "in": "path",
            "description": "The identifier for payment link",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_secret",
            "in": "query",
            "description": "This is a token which expires after 15 minutes, used from the client to authenticate and create sessions from the SDK",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets details regarding payment link",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievePaymentLinkResponse"
                }
              }
            }
          },
          "404": {
            "description": "No payment link found"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/3ds/authentication": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - External 3DS Authentication",
        "description": "External 3DS Authentication is performed and returns the AuthenticationResponse",
        "operationId": "Initiate external authentication for a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsExternalAuthenticationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authentication created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsExternalAuthenticationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/complete_authorize": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Complete Authorize",
        "operationId": "Complete Authorize a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsCompleteAuthorizeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payments Complete Authorize Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/post_session_tokens": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Post Session Tokens",
        "operationId": "Create Post Session Tokens for a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsPostSessionTokensRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Post Session Token is done",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsPostSessionTokensResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/update_metadata": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Update Metadata",
        "operationId": "Update Metadata for a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsUpdateMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Metadata updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsUpdateMetadataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/payments/{payment_id}/eligibility": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Submit Eligibility Data",
        "operationId": "Submit Eligibility data for a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsEligibilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Eligbility submit is successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsEligibilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/relay": {
      "post": {
        "tags": [
          "Relay"
        ],
        "summary": "Relay - Create",
        "description": "Creates a relay request.",
        "operationId": "Relay Request",
        "parameters": [
          {
            "name": "X-Profile-Id",
            "in": "header",
            "description": "Profile ID for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Idempotency Key for relay request",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelayRequest"
              },
              "examples": {
                "Create a relay request": {
                  "value": {
                    "connector_id": "mca_5apGeP94tMts6rg3U3kR",
                    "connector_resource_id": "7256228702616471803954",
                    "data": {
                      "refund": {
                        "amount": 6540,
                        "currency": "USD"
                      }
                    },
                    "type": "refund"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Relay request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/relay/{relay_id}": {
      "get": {
        "tags": [
          "Relay"
        ],
        "summary": "Relay - Retrieve",
        "description": "Retrieves a relay details.",
        "operationId": "Retrieve a Relay details",
        "parameters": [
          {
            "name": "relay_id",
            "in": "path",
            "description": "The unique identifier for the Relay",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Profile-Id",
            "in": "header",
            "description": "Profile ID for authentication",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relay Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelayResponse"
                }
              }
            }
          },
          "404": {
            "description": "Relay details was not found"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ephemeral_key": []
          }
        ]
      }
    },
    "/refunds": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refunds - Create",
        "description": "Creates a refund against an already processed payment. In case of some processors, you can even opt to refund only a partial amount multiple times until the original charge amount has been refunded",
        "operationId": "Create a Refund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundRequest"
              },
              "examples": {
                "Create an instant refund to refund partial amount": {
                  "value": {
                    "amount": 654,
                    "payment_id": "{{payment_id}}",
                    "refund_type": "instant"
                  }
                },
                "Create an instant refund to refund the whole amount": {
                  "value": {
                    "payment_id": "{{payment_id}}",
                    "refund_type": "instant"
                  }
                },
                "Create an instant refund with reason": {
                  "value": {
                    "amount": 6540,
                    "payment_id": "{{payment_id}}",
                    "reason": "Customer returned product",
                    "refund_type": "instant"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/refunds/{refund_id}": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refunds - Retrieve",
        "description": "Retrieves a Refund. This may be used to get the status of a previously initiated refund",
        "operationId": "Retrieve a Refund",
        "parameters": [
          {
            "name": "refund_id",
            "in": "path",
            "description": "The identifier for refund",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "404": {
            "description": "Refund does not exist in our records"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refunds - Update",
        "description": "Updates the properties of a Refund object. This API can be used to attach a reason for the refund or metadata fields",
        "operationId": "Update a Refund",
        "parameters": [
          {
            "name": "refund_id",
            "in": "path",
            "description": "The identifier for refund",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundUpdateRequest"
              },
              "examples": {
                "Update refund reason": {
                  "value": {
                    "reason": "Paid by mistake"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Refund updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericErrorResponseOpenApi"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/refunds/list": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refunds - List",
        "description": "Lists all the refunds associated with the merchant, or for a specific payment if payment_id is provided",
        "operationId": "List all Refunds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/organization": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Organization - Create",
        "description": "Create a new organization",
        "operationId": "Create an Organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              },
              "examples": {
                "Create an organization with organization_name": {
                  "value": {
                    "organization_name": "organization_abc"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/organization/{id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Organization - Retrieve",
        "description": "Retrieve an existing organization",
        "operationId": "Retrieve an Organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Organization - Update",
        "description": "Create a new organization for .",
        "operationId": "Update an Organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              },
              "examples": {
                "Update organization_name of the organization": {
                  "value": {
                    "organization_name": "organization_abcd"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/accounts": {
      "post": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - Create",
        "description": "Create a new account for a *merchant* and the *merchant* could be a seller or retailer or client who likes to receive and send payments.",
        "operationId": "Create a Merchant Account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAccountCreate"
              },
              "examples": {
                "Create a merchant account with minimal fields": {
                  "value": {
                    "merchant_id": "merchant_abc"
                  }
                },
                "Create a merchant account with return url": {
                  "value": {
                    "merchant_id": "merchant_abc",
                    "return_url": "https://example.com"
                  }
                },
                "Create a merchant account with webhook url": {
                  "value": {
                    "merchant_id": "merchant_abc",
                    "webhook_details": {
                      "webhook_url": "https://webhook.site/a5c54f75-1f7e-4545-b781-af525b7e37a0"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant Account Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - Retrieve",
        "description": "Retrieve a *merchant* account details.",
        "operationId": "Retrieve a Merchant Account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Account Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Merchant account not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - Update",
        "description": "Updates details of an existing merchant account. Helpful in updating merchant details such as email, contact details, or other configuration details like webhook, routing algorithm etc",
        "operationId": "Update a Merchant Account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAccountUpdate"
              },
              "examples": {
                "Update merchant name": {
                  "value": {
                    "merchant_id": "merchant_abc",
                    "merchant_name": "merchant_name"
                  }
                },
                "Update return url": {
                  "value": {
                    "merchant_id": "merchant_abc",
                    "return_url": "https://example.com"
                  }
                },
                "Update webhook url": {
                  "value": {
                    "merchant_id": "merchant_abc",
                    "webhook_details": {
                      "webhook_url": "https://webhook.site/a5c54f75-1f7e-4545-b781-af525b7e37a0"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant Account Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Merchant account not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - Delete",
        "description": "Delete a *merchant* account",
        "operationId": "Delete a Merchant Account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Account Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAccountDeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Merchant account not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/accounts/{account_id}/kv": {
      "post": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - KV Status",
        "description": "Toggle KV mode for the Merchant Account",
        "operationId": "Enable/Disable KV for a Merchant Account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToggleKVRequest"
              },
              "examples": {
                "Disable KV for Merchant": {
                  "value": {
                    "kv_enabled": "false"
                  }
                },
                "Enable KV for Merchant": {
                  "value": {
                    "kv_enabled": "true"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "KV mode is enabled/disabled for Merchant Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToggleKVResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          },
          "404": {
            "description": "Merchant account not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/account/{account_id}/connectors": {
      "post": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Merchant Connector - Create",
        "description": "Creates a new Merchant Connector for the merchant account. The connector could be a payment processor/facilitator/acquirer or a provider of specialized services like Fraud/Accounting etc.",
        "operationId": "Create a Merchant Connector",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantConnectorCreate"
              },
              "examples": {
                "Create a merchant account with custom connector label": {
                  "value": {
                    "connector_account_details": {
                      "api_key": "{{adyen-api-key}}",
                      "auth_type": "BodyKey",
                      "key1": "{{adyen_merchant_account}}"
                    },
                    "connector_label": "EU_adyen",
                    "connector_name": "adyen",
                    "connector_type": "payment_processor"
                  }
                },
                "Create a merchant connector account under a specific profile": {
                  "value": {
                    "connector_account_details": {
                      "api_key": "{{adyen-api-key}}",
                      "auth_type": "BodyKey",
                      "key1": "{{adyen_merchant_account}}"
                    },
                    "connector_name": "adyen",
                    "connector_type": "payment_processor",
                    "profile_id": "{{profile_id}}"
                  }
                },
                "Create a merchant connector account with minimal fields": {
                  "value": {
                    "connector_account_details": {
                      "api_key": "{{adyen-api-key}}",
                      "auth_type": "BodyKey",
                      "key1": "{{adyen_merchant_account}}"
                    },
                    "connector_name": "adyen",
                    "connector_type": "payment_processor"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant Connector Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConnectorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Merchant Connector - List",
        "description": "List Merchant Connector Details for the merchant",
        "operationId": "List all Merchant Connectors",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Connector list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MerchantConnectorListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Merchant Connector does not exist in records"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/account/{account_id}/connectors/{merchant_connector_id}": {
      "get": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Merchant Connector - Retrieve",
        "description": "Retrieves details of a Connector account",
        "operationId": "Retrieve a Merchant Connector",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchant_connector_id",
            "in": "path",
            "description": "The unique identifier for the Merchant Connector",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Connector retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConnectorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Merchant Connector does not exist in records"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Merchant Connector - Update",
        "description": "To update an existing Merchant Connector account. Helpful in enabling/disabling different payment methods and other settings for the connector",
        "operationId": "Update a Merchant Connector",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchant_connector_id",
            "in": "path",
            "description": "The unique identifier for the Merchant Connector",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantConnectorUpdate"
              },
              "examples": {
                "Enable card payment method": {
                  "value": {
                    "connector_type": "payment_processor",
                    "payment_methods_enabled": [
                      {
                        "payment_method": "card"
                      }
                    ]
                  }
                },
                "Update webhook secret": {
                  "value": {
                    "connector_webhook_details": {
                      "merchant_secret": "{{webhook_secret}}"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant Connector Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConnectorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Merchant Connector does not exist in records"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Merchant Connector - Delete",
        "description": "Delete or Detach a Merchant Connector from Merchant Account",
        "operationId": "Delete a Merchant Connector",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchant_connector_id",
            "in": "path",
            "description": "The unique identifier for the Merchant Connector",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Connector Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConnectorDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Merchant Connector does not exist in records"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/gsm": {
      "post": {
        "tags": [
          "Gsm"
        ],
        "summary": "Gsm - Create",
        "description": "Creates a GSM (Global Status Mapping) Rule. A GSM rule is used to map a connector's error message/error code combination during a particular payments flow/sub-flow to Hyperswitch's unified status/error code/error message combination. It is also used to decide the next action in the flow - retry/requeue/do_default",
        "operationId": "Create Gsm Rule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GsmCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Gsm created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GsmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/gsm/get": {
      "post": {
        "tags": [
          "Gsm"
        ],
        "summary": "Gsm - Get",
        "description": "Retrieves a Gsm Rule",
        "operationId": "Retrieve Gsm Rule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GsmRetrieveRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Gsm retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GsmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/gsm/update": {
      "post": {
        "tags": [
          "Gsm"
        ],
        "summary": "Gsm - Update",
        "description": "Updates a Gsm Rule",
        "operationId": "Update Gsm Rule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GsmUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Gsm updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GsmResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/gsm/delete": {
      "post": {
        "tags": [
          "Gsm"
        ],
        "summary": "Gsm - Delete",
        "description": "Deletes a Gsm Rule",
        "operationId": "Delete Gsm Rule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GsmDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Gsm deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GsmDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/mandates/{mandate_id}": {
      "get": {
        "tags": [
          "Mandates"
        ],
        "summary": "Mandates - Retrieve Mandate",
        "description": "Retrieves a mandate created using the Payments/Create API",
        "operationId": "Retrieve a Mandate",
        "parameters": [
          {
            "name": "mandate_id",
            "in": "path",
            "description": "The identifier for mandate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The mandate was retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Mandate does not exist in our records"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/mandates/revoke/{mandate_id}": {
      "post": {
        "tags": [
          "Mandates"
        ],
        "summary": "Mandates - Revoke Mandate",
        "description": "Revokes a mandate created using the Payments/Create API",
        "operationId": "Revoke a Mandate",
        "parameters": [
          {
            "name": "mandate_id",
            "in": "path",
            "description": "The identifier for a mandate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The mandate was revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MandateRevokedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Mandate does not exist in our records"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/customers/{customer_id}/mandates": {
      "get": {
        "tags": [
          "Mandates"
        ],
        "summary": "Mandates - Customer Mandates List",
        "description": "Lists all the mandates for a particular customer id.",
        "operationId": "List Mandates for a Customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The unique identifier for the customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of retrieved mandates for a customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MandateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Customers - Create",
[...]
