* @jarnura @ashokkjag

docs/ @juspay/orca-maintainers
*.md @juspay/orca-maintainers
LICENSE @juspay/orca-maintainers
NOTICE @juspay/orca-maintainers
.github/ @juspay/orca-maintainers
.gitignore @juspay/orca-maintainers
Makefile @juspay/orca-maintainers


crates/ @juspay/orca-framework
crates/router/src/types/ @juspay/orca-framework
crates/router/src/services/ @juspay/orca-framework
crates/router/src/db/ @juspay/orca-framework
crates/router/src/routes/ @juspay/orca-framework

crates/router/src/connector/ @juspay/orca-connector

crates/router/src/compatibility/ @juspay/orca-compatibility

crates/router/src/core/ @juspay/orca-core

crates/router/src/scheduler/ @juspay/orca-process-tracker

Dockerfile @juspay/orca-infra
docker-compose.yml @juspay/orca-infra
.dockerignore @juspay/orca-infra
monitoring/ @juspay/orca-infra
*.sh @juspay/orca-infra
