[package]
name = "api_models"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.3.0"
error-stack = "0.2.4"
frunk = "0.4.1"
frunk_core = "0.4.1"
mime = "0.3.16"
reqwest = "0.11.14"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
strum = { version = "0.24.1", features = ["derive"] }
time = { version = "0.3.17", features = ["serde", "serde-well-known", "std"] }
utoipa = { version = "3.0.1", features = ["preserve_order"] }

# First party crates
common_utils = { version = "0.1.0", path = "../common_utils" }
masking = { version = "0.1.0", path = "../masking" }
router_derive = { version = "0.1.0", path = "../router_derive" }
