[package]
name = "router"
description = "Modern, fast and open payment router"
version = "0.2.0"
edition = "2021"
default-run = "router"
rust-version = "1.65"
readme = "README.md"
license = "Apache-2.0"
build = "src/build.rs"

[features]
default = ["kv_store", "stripe"]
kms = ["aws-config", "aws-sdk-kms"]
basilisk = []
stripe = ["dep:serde_qs"]
sandbox = ["kms", "stripe", "basilisk"]
olap = []
production = []
kv_store = []


[dependencies]
actix = "0.13.0"
actix-cors = "0.6.3"
actix-rt = "2.7.0"
actix-web = "4.2.1"
async-bb8-diesel = { git = "https://github.com/juspay/async-bb8-diesel", rev = "9a71d142726dbc33f41c1fd935ddaa79841c7be5" }
async-trait = "0.1.59"
aws-config = { version = "0.49.0", optional = true }
aws-sdk-kms = { version = "0.19.0", optional = true }
base64 = "0.20.0"
bb8 = "0.8"
bytes = "1.3.0"
config = { version = "0.13.3", features = ["toml"] }
crc32fast = "1.3.2"
diesel = { version = "2.0.2", features = ["postgres", "serde_json", "time"] }
dyn-clone = "1.0.9"
encoding_rs = "0.8.31"
error-stack = "0.2.4"
frunk = "0.4.1"
frunk_core = "0.4.1"
futures = "0.3.25"
hex = "0.4.3"
http = "0.2.8"
josekit = "0.8.1"
literally = "0.1.3"
maud = { version = "0.24", features = ["actix-web"] }
mimalloc = { version = "0.1", optional = true }
mime = "0.3.16"
nanoid = "0.4.0"
num_cpus = "1.14.0"
once_cell = "1.16.0"
rand = "0.8.5"
reqwest = { version = "0.11.12", features = ["json", "native-tls"] }
ring = "0.16.20"
serde = { version = "1.0.149", features = ["derive"] }
serde_json = "1.0.89"
serde_path_to_error = "0.1.8"
serde_qs = { version = "0.10.1", optional = true }
serde_urlencoded = "0.7.1"
serde_repr = "0.1"
structopt = "0.3.26"
strum = { version = "0.24.1", features = ["derive"] }
thiserror = "1.0.37"
time = { version = "0.3.17", features = ["serde", "serde-well-known", "std"] }
tokio = { version = "1.23.0", features = ["macros", "rt-multi-thread"] }
url = { version = "2.3.1", features = ["serde"] }
uuid = { version = "1.2.2", features = ["serde", "v4"] }

# First party crates
api_models = { version = "0.1.0", path = "../api_models" }
common_utils = { version = "0.1.0", path = "../common_utils" }
masking = { version = "0.1.0", path = "../masking" }
redis_interface = { version = "0.1.0", path = "../redis_interface" }
router_derive = { version = "0.1.0", path = "../router_derive" }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }
storage_models = { version = "0.1.0", path = "../storage_models", features = ["kv_store"] }

[build-dependencies]
router_env = { version = "0.1.0", path = "../router_env", default-features = false, features = ["vergen"] }

[dev-dependencies]
actix-http = "3.2.2"
awc = { version = "3.0.1", features = ["rustls"] }
derive_deref = "1.1.1"
rand = "0.8.5"
time = { version = "0.3.17", features = ["macros"] }
tokio = "1.23.0"
toml = "0.5.9"

[[bin]]
name = "router"
path = "src/bin/router.rs"

[[bin]]
name = "scheduler"
path = "src/bin/scheduler.rs"
