[package]
name = "router"
description = "Modern, fast and open payment router"
version = "0.2.0"
edition.workspace = true
default-run = "router"
rust-version.workspace = true
readme = "README.md"
license.workspace = true

[features]
default = ["common_default", "v1"]
common_default = ["kv_store", "stripe", "oltp", "olap", "accounts_cache", "dummy_connector", "payouts", "payout_retry", "retry", "frm", "tls", "partial-auth", "km_forward_x_request_id", "external_services/superposition"]
olap = ["hyperswitch_domain_models/olap", "storage_impl/olap", "scheduler/olap", "api_models/olap", "dep:analytics"]
tls = ["actix-web/rustls-0_22"]
email = ["external_services/email", "scheduler/email", "olap"]
# keymanager_create, keymanager_mtls, encryption_service should not be removed or added to default feature. Once this features were enabled it can't be disabled as these are breaking changes.
keymanager_create = []
keymanager_mtls = ["reqwest/rustls-tls", "common_utils/keymanager_mtls"]
encryption_service = ["keymanager_create", "hyperswitch_domain_models/encryption_service", "common_utils/encryption_service"]
km_forward_x_request_id = ["common_utils/km_forward_x_request_id"]
frm = ["api_models/frm", "hyperswitch_domain_models/frm", "hyperswitch_connectors/frm", "hyperswitch_interfaces/frm"]
stripe = []
release = ["stripe", "email", "accounts_cache", "kv_store", "vergen", "recon", "external_services/aws_kms", "external_services/aws_s3", "keymanager_mtls", "keymanager_create", "encryption_service", "dynamic_routing", "payout_retry"]
oltp = ["storage_impl/oltp"]
kv_store = ["scheduler/kv_store"]
accounts_cache = ["storage_impl/accounts_cache"]
vergen = ["router_env/vergen"]
dummy_connector = ["api_models/dummy_connector", "euclid/dummy_connector", "hyperswitch_interfaces/dummy_connector", "kgraph_utils/dummy_connector", "payment_methods/dummy_connector", "hyperswitch_domain_models/dummy_connector","hyperswitch_connectors/dummy_connector"]
external_access_dc = ["dummy_connector"]
detailed_errors = ["api_models/detailed_errors", "error-stack/serde"]
payouts = ["api_models/payouts", "common_enums/payouts", "hyperswitch_connectors/payouts", "hyperswitch_domain_models/payouts", "storage_impl/payouts", "payment_methods/payouts"]
payout_retry = ["payouts"]
recon = ["email", "api_models/recon"]
retry = []
v2 = [ "common_default", "api_models/v2", "diesel_models/v2", "hyperswitch_domain_models/v2", "storage_impl/v2", "kgraph_utils/v2", "common_utils/v2", "hyperswitch_connectors/v2", "hyperswitch_interfaces/v2", "common_types/v2", "revenue_recovery", "scheduler/v2", "euclid/v2", "payment_methods/v2", "tokenization_v2", "subscriptions/v2"]
v1 = ["common_default", "api_models/v1", "diesel_models/v1", "hyperswitch_domain_models/v1", "storage_impl/v1", "hyperswitch_interfaces/v1", "kgraph_utils/v1", "common_utils/v1", "hyperswitch_connectors/v1", "common_types/v1", "scheduler/v1", "payment_link/v1", "payment_methods/v1", "subscriptions/v1"]
dynamic_routing = ["external_services/dynamic_routing", "storage_impl/dynamic_routing", "api_models/dynamic_routing"]
revenue_recovery = ["api_models/revenue_recovery", "hyperswitch_interfaces/revenue_recovery", "hyperswitch_domain_models/revenue_recovery", "hyperswitch_connectors/revenue_recovery", "external_services/revenue_recovery", "dep:prost-types"]
tokenization_v2 = ["api_models/tokenization_v2", "diesel_models/tokenization_v2", "hyperswitch_domain_models/tokenization_v2", "storage_impl/tokenization_v2"]

# Partial Auth
# The feature reduces the overhead of the router authenticating the merchant for every request, and trusts on `x-merchant-id` header to be present in the request.
# This is named as partial-auth because the router will still try to authenticate if the `x-merchant-id` header is not present.
partial-auth = []

[dependencies]
actix-cors = "0.6.5"
actix-http = "3.11.0"
actix-multipart = "0.6.2"
actix-rt = "2.10.0"
actix-web = "4.11.0"
argon2 = { version = "0.5.3", features = ["std"] }
async-bb8-diesel = "0.2.1"
async-trait = "0.1.88"
base64 = "0.22.1"
bb8 = "0.8"
blake3 = "1.8.2"
bytes = "1.10.1"
clap = { version = "4.5.38", default-features = false, features = ["std", "derive", "help", "usage"] }
config = { version = "0.14.1", features = ["toml"] }
prost-types = { version = "0.13", optional = true }
cookie = "0.18.1"
csv = "1.3.1"
diesel = { version = "2.2.10", features = ["postgres"] }
dyn-clone = "1.0.19"
error-stack = "0.4.1"
futures = "0.3.31"
hex = "0.4.3"
hkdf = "0.12.4"
http = "0.2.12"
infer = "0.15.0"
josekit = "0.8.7"
jsonwebtoken = "9.3.1"
maud = { version = "0.26.0", features = ["actix-web"] }
mimalloc = { version = "0.1", optional = true }
mime = "0.3.17"
nanoid = "0.4.0"
num_cpus = "1.16.0"
num-traits = "0.2.19"
once_cell = "1.21.3"
openidconnect = "3.5.0" # TODO: remove reqwest
openssl = "0.10.72"
rand = "0.8.5"
rand_chacha = "0.3.1"
rdkafka = "0.36.2"
regex = "1.11.1"
reqwest = { version = "0.11.27", features = ["json", "rustls-tls", "gzip", "multipart"] }
ring = "0.17.14"
rust_decimal = { version = "1.37.1", features = ["serde-with-float", "serde-with-str"] }
rust-i18n = { git = "https://github.com/kashif-m/rust-i18n", rev = "f2d8096aaaff7a87a847c35a5394c269f75e077a" }
unified-connector-service-client = { git = "https://github.com/juspay/connector-service", rev = "b5a367c1c775c32503feb00cdc6cd063cc97ea3b", package = "rust-grpc-client" }
unified-connector-service-cards = { git = "https://github.com/juspay/connector-service", rev = "b5a367c1c775c32503feb00cdc6cd063cc97ea3b", package = "ucs_cards" }
unified-connector-service-masking = { git = "https://github.com/juspay/hyperswitch", tag = "2025.09.24.0", package = "masking" }
rustc-hash = "1.1.0"
rustls = "0.22"
rustls-pemfile = "2"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
serde_path_to_error = "0.1.17"
serde_qs = "0.12.0"
serde_with = "3.12.0"
sha2 = "0.10.9"
strum = { version = "0.26", features = ["derive"] }
tera = "1.20.0"
thiserror = "1.0.69"
time = { version = "0.3.41", features = ["serde", "serde-well-known", "std", "parsing", "serde-human-readable"] }
tokio = { version = "1.48.0", features = ["macros", "rt-multi-thread"] }
totp-rs = { version = "5.7.0", features = ["gen_secret", "otpauth"] }
tracing-futures = { version = "0.2.5", features = ["tokio"] }
unicode-segmentation = "1.12.0"
url = { version = "2.5.4", features = ["serde"] }
urlencoding = "2.1.3"
utoipa = { version = "4.2.3", features = ["preserve_order", "preserve_path_order", "time"] }
uuid = { version = "1.17.0", features = ["v4"] }
validator = "0.17.0"
x509-parser = "0.16.0"

# First party crates

analytics = { version = "0.1.0", path = "../analytics", optional = true, default-features = false }
api_models = { version = "0.1.0", path = "../api_models", features = ["errors", "control_center_theme"] }
cards = { version = "0.1.0", path = "../cards" }
common_enums = { version = "0.1.0", path = "../common_enums" }
common_utils = { version = "0.1.0", path = "../common_utils", features = ["signals", "async_ext", "logs", "metrics", "keymanager", "encryption_service"] }
common_types = { version = "0.1.0", path = "../common_types" }
currency_conversion = { version = "0.1.0", path = "../currency_conversion" }
diesel_models = { version = "0.1.0", path = "../diesel_models", features = ["kv_store", "tokenization_v2"], default-features = false }
euclid = { version = "0.1.0", path = "../euclid", features = ["valued_jit"] }
events = { version = "0.1.0", path = "../events" }
external_services = { version = "0.1.0", path = "../external_services" }
hyperswitch_connectors = { version = "0.1.0", path = "../hyperswitch_connectors", default-features = false }
hyperswitch_constraint_graph = { version = "0.1.0", path = "../hyperswitch_constraint_graph" }
hyperswitch_domain_models = { version = "0.1.0", path = "../hyperswitch_domain_models", default-features = false }
hyperswitch_interfaces = { version = "0.1.0", path = "../hyperswitch_interfaces", default-features = false }
injector = { version = "0.1.0", path = "../injector", optional = true }
kgraph_utils = { version = "0.1.0", path = "../kgraph_utils" }
masking = { version = "0.1.0", path = "../masking" }
pm_auth = { version = "0.1.0", path = "../pm_auth", package = "pm_auth" }
redis_interface = { version = "0.1.0", path = "../redis_interface" }
router_derive = { version = "0.1.0", path = "../router_derive" }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }
scheduler = { version = "0.1.0", path = "../scheduler", default-features = false }
storage_impl = { version = "0.1.0", path = "../storage_impl", default-features = false }
payment_link = { version = "0.1.0", path = "../payment_link", default-features = false }
payment_methods = { version = "0.1.0", path = "../payment_methods", default-features = false }
subscriptions = { version = "0.1.0", path = "../subscriptions", default-features = false }

[build-dependencies]
router_env = { version = "0.1.0", path = "../router_env", default-features = false }

[dev-dependencies]
actix-http = "3.11.0"
awc = { version = "3.7.0", features = ["rustls"] }
derive_deref = "1.1.1"
rand = "0.8.5"
serial_test = "3.2.0"
time = { version = "0.3.41", features = ["macros"] }
tokio = "1.48.0"
wiremock = "0.6.3"

# First party dev-dependencies
test_utils = { version = "0.1.0", path = "../test_utils" }

[[bin]]
name = "router"
path = "src/bin/router.rs"

[[bin]]
name = "scheduler"
path = "src/bin/scheduler.rs"

[lints]
workspace = true
