[package]
name = "router"
description = "Modern, fast and open payment router"
version = "0.2.0"
edition = "2021"
default-run = "router"
rust-version = "1.63"
readme = "README.md"
license = "Apache-2.0"

[features]
default = []
kms = ["aws-config", "aws-sdk-kms"]
stripe = ["dep:serde_qs"]
sandbox = ["kms", "stripe"]
production = []
kv_store = []


[dependencies]
actix = "0.13.0"
actix-cors = "0.6.3"
actix-rt = "2.7.0"
actix-web = "4.2.1"
async-bb8-diesel = { git = "https://bitbucket.org/juspay/async-bb8-diesel", rev = "ca9a9bd3dbe9b9d9f34b30414382e0ad0d87c409" }
async-trait = { version = "0.1.57" }
aws-config = { version = "0.49.0", optional = true }
aws-sdk-kms = { version = "0.19.0", optional = true }
base64 = "0.13.0"
bb8 = "0.8"
bytes = "1.2.1"
config = { version = "0.13.2", features = ["toml"] }
diesel = { version = "2.0.1", features = ["postgres", "serde_json", "time"] }
dyn-clone = "1.0.9"
encoding_rs = "0.8.31"
error-stack = "0.2.1"
fred = { version = "5.2.0", features = ["metrics", "partial-tracing"] }
hex = "0.4.3"
http = "0.2.8"
literally = "0.1.3"
maud = { version = "0.24", features = ["actix-web"] }
mime = "0.3.16"
nanoid = "0.4.0"
once_cell = "1.15.0"
rand = "0.8.5"
regex = "1.6.0"
reqwest = { version = "0.11.12", features = ["json"] }
ring = "0.16.20"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.85"
serde_qs = { version = "0.10.1", optional = true }
serde_urlencoded = "0.7.1"
sha2 = "0.10.5"
structopt = "0.3.26"
strum = { version = "0.24.1", features = ["derive"] }
thiserror = "1.0.37"
time = { version = "0.3.14", features = ["serde", "serde-well-known", "std"] }
tokio = { version = "1.21.2", features = ["macros", "rt-multi-thread"] }
url = { version = "2.3.1", features = ["serde"] }
uuid = { version = "1.1.2", features = ["serde", "v4"] }
futures = "0.3"

# First party crates
masking = { version = "0.1.0", path = "../masking" }
router_derive = { version = "0.1.0", path = "../router_derive" }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }

[dev-dependencies]
awc = { version = "3.0.1", features = ["rustls"] }
time = { version = "0.3.14", features = ["macros"] }
tokio = "1.21.2"
toml = "0.5.9"

[[bin]]
name = "router"
path = "src/bin/router.rs"

[[bin]]
name = "scheduler"
path = "src/bin/scheduler.rs"
