[default]
check-filename = true

[default.extend-identifiers]
flate2 = "flate2"
payment_vas = "payment_vas"
PaymentVas = "PaymentVas"

[default.extend-words]
aci = "aci" # Name of a connector
encrypter = "encrypter" # Used by the `ring` crate
nin = "nin" # National identification number, a field used by PayU connector
substituters = "substituters" # Present in `flake.nix`

[files]
extend-exclude = [
    "config/redis.conf", # `typos` also checked "AKE" in the file, which is present as a quoted string
]
