[default]
check-filename = true

[default.extend-identifiers]
ZAR = "ZAR" # South African rand
CAF = "CAF"
NAM = "NAM"
BA = "BA"  # Bosnia and Herzegovina country code
flate2 = "flate2"
FO = "FO"  # Faroe Islands (the) country code
payment_vas = "payment_vas"
PaymentVas = "PaymentVas"
HypoNoeLbFurNiederosterreichUWien = "HypoNoeLbFurNiederosterreichUWien"
hypo_noe_lb_fur_niederosterreich_u_wien = "hypo_noe_lb_fur_niederosterreich_u_wien"
SOM = "SOM"  # Somalia country code
THA = "THA"  # Thailand country code

[default.extend-words]
fpt = "fpt" # Prefix used for card identifier
Regio = "Regio" # Bank name
aci = "aci"                   # Name of a connector
encrypter = "encrypter"       # Used by the `ring` crate
nin = "nin"                   # National identification number, a field used by PayU connector
substituters = "substituters" # Present in `flake.nix`

[files]
extend-exclude = [
    "config/redis.conf", # `typos` also checked "AKE" in the file, which is present as a quoted string
]
