[package]
name = "redis_interface"
description = "A user-friendly interface to Redis"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
readme = "README.md"
license.workspace = true

[features]
multitenancy_fallback = []

[dependencies]
error-stack = "0.4.1"
fred = { version = "7.1.2", features = ["metrics", "partial-tracing", "subscriber-client", "check-unresponsive"] }
futures = "0.3"
serde = { version = "1.0.197", features = ["derive"] }
thiserror = "1.0.58"
tokio = "1.37.0"
tokio-stream = { version = "0.1.15", features = ["sync"] }
tracing = { workspace = true }

# First party crates
common_utils = { version = "0.1.0", path = "../common_utils", features = ["async_ext"] }

[dev-dependencies]
tokio = { version = "1.37.0", features = ["macros", "rt-multi-thread"] }

[lints]
workspace = true
