[package]
name = "redis_interface"
description = "A user-friendly interface to Redis"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
readme = "README.md"
license.workspace = true

[dependencies]
error-stack = "0.4.1"
fred = { version = "7.1.2", features = ["metrics", "partial-tracing", "subscriber-client", "check-unresponsive"] }
futures = "0.3"
serde = { version = "1.0.197", features = ["derive"] }
thiserror = "1.0.58"
tokio = "1.36.0"
tokio-stream = {version = "0.1.15", features = ["sync"]}

# First party crates
common_utils = { version = "0.1.0", path = "../common_utils", features = ["async_ext"] }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }

[dev-dependencies]
tokio = { version = "1.36.0", features = ["macros", "rt-multi-thread"] }
