[package]
name = "redis_interface"
description = "A user-friendly interface to Redis"
version = "0.1.0"
edition = "2021"
rust-version = "1.65"
readme = "README.md"
license = "Apache-2.0"

[dependencies]
async-trait = "0.1.68"
error-stack = "0.3.1"
fred = { version = "6.0.0", features = ["metrics", "partial-tracing"] }
futures = "0.3"
serde = { version = "1.0.160", features = ["derive"] }
thiserror = "1.0.40"

# First party crates
common_utils = { version = "0.1.0", path = "../common_utils", features = ["async_ext"] }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }

[dev-dependencies]
tokio = { version = "1.27.0", features = ["macros", "rt-multi-thread"] }
