[package]
name = "redis_interface"
description = "A user-friendly interface to Redis"
version = "0.1.0"
edition = "2021"
rust-version = "1.64"
readme = "README.md"
license = "Apache-2.0"

[dependencies]
error-stack = "0.2.4"
fred = { version = "5.2.0", features = ["metrics", "partial-tracing"] }
serde = { version = "1.0.149", features = ["derive"] }
thiserror = "1.0.37"

# First party crates
common_utils = { version = "0.1.0", path = "../common_utils" }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }

[dev-dependencies]
tokio = { version = "1.23.0", features = ["macros", "rt-multi-thread"] }