{
  "openapi": "3.1.0",
  "info": {
    "title": "Hyperswitch - API Documentation",
    "description": "\n## Get started\n\nHyperswitch provides a collection of APIs that enable you to process and manage payments.\nOur APIs accept and return JSON in the HTTP body, and return standard HTTP response codes.\n\nYou can consume the APIs directly using your favorite HTTP/REST library.\n\nWe have a testing environment referred to \"sandbox\", which you can setup to test API calls without\naffecting production data.\nCurrently, our sandbox environment is live while our production environment is under development\nand will be available soon.\nYou can sign up on our Dashboard to get API keys to access Hyperswitch API.\n\n### Environment\n\nUse the following base URLs when making requests to the APIs:\n\n| Environment   |  Base URL                          |\n|---------------|------------------------------------|\n| Sandbox       | <https://sandbox.hyperswitch.io>   |\n| Production    | <https://api.hyperswitch.io>       |\n\n## Authentication\n\nWhen you sign up on our [dashboard](https://app.hyperswitch.io) and create a merchant\naccount, you are given a secret key (also referred as api-key) and a publishable key.\nYou may authenticate all API requests with Hyperswitch server by providing the appropriate key in\nthe request Authorization header.\n\n| Key             |  Description                                                                                  |\n|-----------------|-----------------------------------------------------------------------------------------------|\n| api-key         | Private key. Used to authenticate all API requests from your merchant server                  |\n| publishable key | Unique identifier for your account. Used to authenticate API requests from your app's client  |\n\nNever share your secret api keys. Keep them guarded and secure.\n",
    "contact": {
      "name": "Hyperswitch Support",
      "url": "https://hyperswitch.io",
      "email": "hyperswitch@juspay.in"
    },
    "license": {
      "name": "Apache-2.0",
      "identifier": "Apache-2.0"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://sandbox.hyperswitch.io",
      "description": "Sandbox Environment"
    }
  ],
  "paths": {
    "/v2/organization": {
      "post": {
        "tags": [
          "Organization"
        ],
        "summary": "Organization - Create",
        "description": "Create a new organization",
        "operationId": "Create an Organization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreateRequest"
              },
              "examples": {
                "Create an organization with organization_name": {
                  "value": {
                    "organization_name": "organization_abc"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/organization/{id}": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Organization - Retrieve",
        "description": "Retrieve an existing organization",
        "operationId": "Retrieve an Organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Organization"
        ],
        "summary": "Organization - Update",
        "description": "Create a new organization for .",
        "operationId": "Update an Organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdateRequest"
              },
              "examples": {
                "Update organization_name of the organization": {
                  "value": {
                    "organization_name": "organization_abcd"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Organization Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/organization/{id}/merchant-accounts": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Organization - Merchant Account - List",
        "description": "List merchant accounts for an Organization",
        "operationId": "List Merchant Accounts",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Account list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MerchantAccountResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/connector-accounts": {
      "post": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Connector Account - Create",
        "description": "Creates a new Connector Account for the merchant account. The connector could be a payment processor/facilitator/acquirer or a provider of specialized services like Fraud/Accounting etc.",
        "operationId": "Create a Merchant Connector",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantConnectorCreate"
              },
              "examples": {
                "Create a merchant account with custom connector label": {
                  "value": {
                    "connector_account_details": {
                      "api_key": "{{adyen-api-key}}",
                      "auth_type": "BodyKey",
                      "key1": "{{adyen_merchant_account}}"
                    },
                    "connector_label": "EU_adyen",
                    "connector_name": "adyen",
                    "connector_type": "payment_processor"
                  }
                },
                "Create a merchant connector account under a specific profile": {
                  "value": {
                    "connector_account_details": {
                      "api_key": "{{adyen-api-key}}",
                      "auth_type": "BodyKey",
                      "key1": "{{adyen_merchant_account}}"
                    },
                    "connector_name": "adyen",
                    "connector_type": "payment_processor",
                    "profile_id": "{{profile_id}}"
                  }
                },
                "Create a merchant connector account with minimal fields": {
                  "value": {
                    "connector_account_details": {
                      "api_key": "{{adyen-api-key}}",
                      "auth_type": "BodyKey",
                      "key1": "{{adyen_merchant_account}}"
                    },
                    "connector_name": "adyen",
                    "connector_type": "payment_processor"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant Connector Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConnectorResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/connector-accounts/{id}": {
      "get": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Connector Account - Retrieve",
        "description": "Retrieves details of a Connector account",
        "operationId": "Retrieve a Merchant Connector",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Merchant Connector",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Connector retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConnectorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Merchant Connector does not exist in records"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Connector Account - Update",
        "description": "To update an existing Connector account. Helpful in enabling/disabling different payment methods and other settings for the connector",
        "operationId": "Update a Merchant Connector",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Merchant Connector",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantConnectorUpdate"
              },
              "examples": {
                "Enable card payment method": {
                  "value": {
                    "connector_type": "payment_processor",
                    "payment_methods_enabled": [
                      {
                        "payment_method": "card"
                      }
                    ]
                  }
                },
                "Update webhook secret": {
                  "value": {
                    "connector_webhook_details": {
                      "merchant_secret": "{{webhook_secret}}"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant Connector Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConnectorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Merchant Connector does not exist in records"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Merchant Connector Account"
        ],
        "summary": "Merchant Connector - Delete",
        "description": "Delete or Detach a Merchant Connector from Merchant Account",
        "operationId": "Delete a Merchant Connector",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Merchant Connector",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Connector Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantConnectorDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Merchant Connector does not exist in records"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/merchant-accounts": {
      "post": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - Create",
        "description": "Create a new account for a *merchant* and the *merchant* could be a seller or retailer or client who likes to receive and send payments.\n\nBefore creating the merchant account, it is mandatory to create an organization.",
        "operationId": "Create a Merchant Account",
        "parameters": [
          {
            "name": "X-Organization-Id",
            "in": "header",
            "description": "Organization ID for which the merchant account has to be created.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": {
              "X-Organization-Id": "org_abcdefghijklmnop"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAccountCreate"
              },
              "examples": {
                "Create a merchant account with merchant details": {
                  "value": {
                    "merchant_details": {
                      "primary_contact_person": "John Doe",
                      "primary_email": "example@company.com"
                    },
                    "merchant_name": "Cloth Store"
                  }
                },
                "Create a merchant account with metadata": {
                  "value": {
                    "merchant_name": "Cloth Store",
                    "metadata": {
                      "key_1": "John Doe",
                      "key_2": "Trends"
                    }
                  }
                },
                "Create a merchant account with minimal fields": {
                  "value": {
                    "merchant_name": "Cloth Store"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant Account Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/merchant-accounts/{id}": {
      "get": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - Retrieve",
        "description": "Retrieve a *merchant* account details.",
        "operationId": "Retrieve a Merchant Account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Account Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Merchant account not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - Update",
        "description": "Updates details of an existing merchant account. Helpful in updating merchant details such as email, contact details, or other configuration details like webhook, routing algorithm etc",
        "operationId": "Update a Merchant Account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the merchant account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAccountUpdate"
              },
              "examples": {
                "Update Merchant Details": {
                  "value": {
                    "merchant_details": {
                      "primary_contact_person": "John Doe",
                      "primary_email": "example@company.com"
                    }
                  }
                },
                "Update merchant name": {
                  "value": {
                    "merchant_id": "merchant_abc",
                    "merchant_name": "merchant_name"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Merchant Account Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantAccountResponse"
                }
              }
            }
          },
          "404": {
            "description": "Merchant account not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/merchant-accounts/{id}/profiles": {
      "get": {
        "tags": [
          "Merchant Account"
        ],
        "summary": "Merchant Account - Profile List",
        "description": "List profiles for an Merchant",
        "operationId": "List Profiles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Merchant",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "profile list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProfileResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/profiles": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Profile - Create",
        "description": "Creates a new *profile* for a merchant",
        "operationId": "Create A Profile",
        "parameters": [
          {
            "name": "X-Merchant-Id",
            "in": "header",
            "description": "Merchant ID of the profile.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": {
              "X-Merchant-Id": "abc_iG5VNjsN9xuCg7Xx0uWh"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCreate"
              },
              "examples": {
                "Create a profile with profile name": {
                  "value": {
                    "profile_name": "shoe_business"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Account Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/profiles/{id}": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Profile - Retrieve",
        "description": "Retrieve existing *profile*",
        "operationId": "Retrieve a Profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Merchant-Id",
            "in": "header",
            "description": "Merchant ID of the profile.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": {
              "X-Merchant-Id": "abc_iG5VNjsN9xuCg7Xx0uWh"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Profile - Update",
        "description": "Update the *profile*",
        "operationId": "Update a Profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Merchant-Id",
            "in": "header",
            "description": "Merchant ID of the profile.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": {
              "X-Merchant-Id": "abc_iG5VNjsN9xuCg7Xx0uWh"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCreate"
              },
              "examples": {
                "Update profile with profile name fields": {
                  "value": {
                    "profile_name": "shoe_business"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Profile Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/profiles/{id}/connector-accounts": {
      "get": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Profile - Connector Accounts List",
        "description": "List Connector Accounts for the profile",
        "operationId": "List all Merchant Connectors for Profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the business profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Merchant-Id",
            "in": "header",
            "description": "Merchant ID of the profile.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": {
              "X-Merchant-Id": "abc_iG5VNjsN9xuCg7Xx0uWh"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Merchant Connector list retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MerchantConnectorResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request"
          },
          "404": {
            "description": "Merchant Connector does not exist in records"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/profiles/{id}/activate-routing-algorithm": {
      "patch": {
        "tags": [
          "Profile"
        ],
        "summary": "Profile - Activate routing algorithm",
        "description": "Activates a routing algorithm under a profile",
        "operationId": "Activates a routing algorithm under a profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutingAlgorithmId"
              },
              "examples": {
                "Activate a routing algorithm": {
                  "value": {
                    "routing_algorithm_id": "routing_algorithm_123"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Routing Algorithm is activated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingDictionaryRecord"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Resource missing"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "jwt_key": []
          }
        ]
      }
    },
    "/v2/profiles/{id}/deactivate-routing-algorithm": {
      "patch": {
        "tags": [
          "Profile"
        ],
        "summary": "Profile - Deactivate routing algorithm",
        "description": "Deactivates a routing algorithm under a profile",
        "operationId": " Deactivates a routing algorithm under a profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deactivated routing config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingDictionaryRecord"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request"
          },
          "403": {
            "description": "Malformed request"
          },
          "422": {
            "description": "Unprocessable request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "jwt_key": []
          }
        ]
      }
    },
    "/v2/profiles/{id}/fallback-routing": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Profile - Retrieve Default Fallback Routing Algorithm",
        "description": "Retrieve the default fallback routing algorithm for the profile",
        "operationId": "Retrieve the default fallback routing algorithm for the profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved default fallback routing algorithm",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoutableConnectorChoice"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "jwt_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Profile"
        ],
        "summary": "Profile - Update Default Fallback Routing Algorithm",
        "description": "Update the default fallback routing algorithm for the profile",
        "operationId": "Update the default fallback routing algorithm for the profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RoutableConnectorChoice"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the default fallback routing algorithm",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoutableConnectorChoice"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request"
          },
          "422": {
            "description": "Unprocessable request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "jwt_key": []
          }
        ]
      }
    },
    "/v2/profiles/{id}/routing-algorithm": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": " Profile - Retrieve Active Routing Algorithm\n_\n Retrieve active routing algorithm under the profile",
        "operationId": "Retrieve the active routing algorithm under the profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the profile",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records of the algorithms to be returned",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The record offset of the algorithm from which to start gathering the results",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved active config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedRoutingConfigRetrieveResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource missing"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "jwt_key": []
          }
        ]
      }
    },
    "/v2/routing-algorithm": {
      "post": {
        "tags": [
          "Routing"
        ],
        "summary": "Routing - Create",
        "description": "Create a routing algorithm",
        "operationId": "Create a routing algorithm",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutingConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Routing Algorithm created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingDictionaryRecord"
                }
              }
            }
          },
          "400": {
            "description": "Request body is malformed"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource missing"
          },
          "422": {
            "description": "Unprocessable request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "jwt_key": []
          }
        ]
      }
    },
    "/v2/routing-algorithm/{id}": {
      "get": {
        "tags": [
          "Routing"
        ],
        "summary": "Routing - Retrieve",
        "description": "Retrieve a routing algorithm with its algorithm id",
        "operationId": "Retrieve a routing algorithm with its algorithm id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for a routing algorithm",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched routing algorithm",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantRoutingAlgorithm"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource missing"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "jwt_key": []
          }
        ]
      }
    },
    "/v2/api-keys": {
      "post": {
        "tags": [
          "API Key"
        ],
        "summary": "API Key - Create",
        "description": "Create a new API Key for accessing our APIs from your servers. The plaintext API Key will be\ndisplayed only once on creation, so ensure you store it securely.",
        "operationId": "Create an API Key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API Key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/api-keys/{id}": {
      "get": {
        "tags": [
          "API Key"
        ],
        "summary": "API Key - Retrieve",
        "description": "Retrieve information about the specified API Key.",
        "operationId": "Retrieve an API Key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API Key retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "API Key not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "API Key"
        ],
        "summary": "API Key - Update",
        "description": "Update information for the specified API Key.",
        "operationId": "Update an API Key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "API Key updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "API Key not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "API Key"
        ],
        "summary": "API Key - Revoke",
        "description": "Revoke the specified API Key. Once revoked, the API Key can no longer be used for\nauthenticating with our APIs.",
        "operationId": "Revoke an API Key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the API Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API Key revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeApiKeyResponse"
                }
              }
            }
          },
          "404": {
            "description": "API Key not found"
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/api-keys/list": {
      "get": {
        "tags": [
          "API Key"
        ],
        "summary": "API Key - List",
        "description": "List all the API Keys associated to a merchant account.",
        "operationId": "List all API Keys associated with a merchant account",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of API Keys to include in the response",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of API Keys to skip when retrieving the list of API keys.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of API Keys retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetrieveApiKeyResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "admin_api_key": []
          }
        ]
      }
    },
    "/v2/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Customers - Create",
        "description": "Creates a customer object and stores the customer details to be reused for future payments.\nIncase the customer already exists in the system, this API will respond with the customer details.",
        "operationId": "Create a Customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerRequest"
              },
              "examples": {
                "Create a customer with name and email": {
                  "value": {
                    "email": "guest@example.com",
                    "name": "John Doe"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/customers/{id}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Customers - Retrieve",
        "description": "Retrieves a customer's details.",
        "operationId": "Retrieve a Customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "404": {
            "description": "Customer was not found"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ephemeral_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Customers - Update",
        "description": "Updates the customer's details in a customer object.",
        "operationId": "Update a Customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdateRequest"
              },
              "examples": {
                "Update name and email of a customer": {
                  "value": {
                    "email": "guest@example.com",
                    "name": "John Doe"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer was Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "404": {
            "description": "Customer was not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Customers - Delete",
        "description": "Delete a customer record.",
        "operationId": "Delete a Customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer was Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerDeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Customer was not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/customers/list": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Customers - List",
        "description": "Lists all the customers for a particular merchant id.",
        "operationId": "List all Customers for a Merchant",
        "responses": {
          "200": {
            "description": "Customers retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payments/create-intent": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Create Intent",
        "description": "**Creates a payment intent object when amount_details are passed.**\n\nYou will require the 'API - Key' from the Hyperswitch dashboard to make the first call, and use the 'client secret' returned in this API along with your 'publishable key' to make subsequent API calls from your client.",
        "operationId": "Create a Payment Intent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsCreateIntentRequest"
              },
              "examples": {
                "Create a payment intent with minimal fields": {
                  "value": {
                    "amount_details": {
                      "currency": "USD",
                      "order_amount": 6540
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsIntentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payments/{id}/get-intent": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Get Intent",
        "description": "**Get a payment intent object when id is passed in path**\n\nYou will require the 'API - Key' from the Hyperswitch dashboard to make the call.",
        "operationId": "Get the Payment Intent details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Intent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment Intent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsIntentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment Intent not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payments/{id}/update-intent": {
      "put": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Update Intent",
        "description": "**Update a payment intent object**\n\nYou will require the 'API - Key' from the Hyperswitch dashboard to make the call.",
        "operationId": "Update a Payment Intent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Intent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Profile-Id",
            "in": "header",
            "description": "Profile ID associated to the payment intent",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pro_abcdefghijklmnop"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsUpdateIntentRequest"
              },
              "examples": {
                "Update a payment intent with minimal fields": {
                  "value": {
                    "amount_details": {
                      "currency": "USD",
                      "order_amount": 6540
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment Intent Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsIntentResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment Intent Not Found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payments/{id}/confirm-intent": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Confirm Intent",
        "description": "**Confirms a payment intent object with the payment method data**\n\n.",
        "operationId": "Confirm Payment Intent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Intent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Profile-Id",
            "in": "header",
            "description": "Profile ID associated to the payment intent",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pro_abcdefghijklmnop"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsConfirmIntentRequest"
              },
              "examples": {
                "Confirm the payment intent with card details": {
                  "value": {
                    "payment_method_data": {
                      "card": {
                        "card_cvc": "123",
                        "card_exp_month": "10",
                        "card_exp_year": "25",
                        "card_holder_name": "joseph Doe",
                        "card_number": "4242424242424242"
                      }
                    },
                    "payment_method_subtype": "credit",
                    "payment_method_type": "card"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/v2/payments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Get",
        "description": "Retrieves a Payment. This API can also be used to get the status of a previously initiated payment or next action for an ongoing payment",
        "operationId": "Retrieve a Payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The global payment id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force_sync",
            "in": "query",
            "description": "A boolean to indicate whether to force sync the payment status. Value can be true or false",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ForceSync"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gets the payment with final status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                }
              }
            }
          },
          "404": {
            "description": "No payment found with the given id"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Create and Confirm Intent",
        "description": "**Creates and confirms a payment intent object when the amount and payment method information are passed.**\n\nYou will require the 'API - Key' from the Hyperswitch dashboard to make the call.",
        "operationId": "Create and Confirm Payment Intent",
        "parameters": [
          {
            "name": "X-Profile-Id",
            "in": "header",
            "description": "Profile ID associated to the payment intent",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pro_abcdefghijklmnop"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsRequest"
              },
              "examples": {
                "Create and confirm the payment intent with amount and card details": {
                  "value": {
                    "amount_details": {
                      "currency": "USD",
                      "order_amount": 6540
                    },
                    "payment_method_data": {
                      "card": {
                        "card_cvc": "123",
                        "card_exp_month": "10",
                        "card_exp_year": "25",
                        "card_holder_name": "joseph Doe",
                        "card_number": "4242424242424242"
                      }
                    },
                    "payment_method_subtype": "credit",
                    "payment_method_type": "card"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payments/{payment_id}/create-external-sdk-tokens": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Session token",
        "description": "Creates a session object or a session token for wallets like Apple Pay, Google Pay, etc. These tokens are used by Hyperswitch's SDK to initiate these wallets' SDK.",
        "operationId": "Create V2 Session tokens for a Payment",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentsSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment session object created or session token was retrieved from wallets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing mandatory fields"
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/v2/payments/{id}/payment-methods": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - Payment Methods List",
        "description": "List the payment methods eligible for a payment. This endpoint also returns the saved payment methods for the customer when the customer_id is passed when creating the payment",
        "operationId": "Retrieve Payment methods for a Payment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The global payment id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Profile-Id",
            "in": "header",
            "description": "Profile ID associated to the payment intent",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pro_abcdefghijklmnop"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodListResponseForPayments"
                }
              }
            }
          },
          "404": {
            "description": "No payment found with the given id"
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/v2/payments/list": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Payments - List",
        "description": "To list the *payments*",
        "operationId": "List all Payments",
        "parameters": [
          {
            "name": "payment_id",
            "in": "path",
            "description": "The identifier for payment",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "pay_fafa124123"
          },
          {
            "name": "profile_id",
            "in": "path",
            "description": "The identifier for business profile",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "pay_fafa124123"
          },
          {
            "name": "customer_id",
            "in": "path",
            "description": "The identifier for customer",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "maxLength": 64,
              "minLength": 1
            },
            "example": "cus_y3oqhf46pyzuxjbcn2giaqnb44"
          },
          {
            "name": "starting_after",
            "in": "path",
            "description": "A cursor for use in pagination, fetch the next list after some object",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "pay_fafa124123"
          },
          {
            "name": "ending_before",
            "in": "path",
            "description": "A cursor for use in pagination, fetch the previous list before some object",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "pay_fafa124123"
          },
          {
            "name": "limit",
            "in": "path",
            "description": "limit on the number of objects to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 100,
              "minimum": 0
            }
          },
          {
            "name": "offset",
            "in": "path",
            "description": "The starting point within a list of objects",
            "required": true,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "created",
            "in": "path",
            "description": "The time at which payment is created",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "example": "2022-09-10T10:11:12Z"
          },
          {
            "name": "created.lt",
            "in": "path",
            "description": "Time less than the payment created time",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "example": "2022-09-10T10:11:12Z"
          },
          {
            "name": "created.gt",
            "in": "path",
            "description": "Time greater than the payment created time",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "example": "2022-09-10T10:11:12Z"
          },
          {
            "name": "created.lte",
            "in": "path",
            "description": "Time less than or equals to the payment created time",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "example": "2022-09-10T10:11:12Z"
          },
          {
            "name": "created.gte",
            "in": "path",
            "description": "Time greater than or equals to the payment created time",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ],
              "format": "date-time"
            },
            "example": "2022-09-10T10:11:12Z"
          },
          {
            "name": "start_amount",
            "in": "path",
            "description": "The start amount to filter list of transactions which are greater than or equal to the start amount",
            "required": true,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "end_amount",
            "in": "path",
            "description": "The end amount to filter list of transactions which are less than or equal to the end amount",
            "required": true,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          },
          {
            "name": "connector",
            "in": "path",
            "description": "The connector to filter payments list",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Connector"
                }
              ]
            }
          },
          {
            "name": "currency",
            "in": "path",
            "description": "The currency to filter payments list",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/Currency"
                }
              ]
            }
          },
          {
            "name": "status",
            "in": "path",
            "description": "The payment status to filter payments list",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/IntentStatus"
                }
              ]
            }
          },
          {
            "name": "payment_method_type",
            "in": "path",
            "description": "The payment method type to filter payments list",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/PaymentMethod"
                }
              ]
            }
          },
          {
            "name": "payment_method_subtype",
            "in": "path",
            "description": "The payment method subtype to filter payments list",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/PaymentMethodType"
                }
              ]
            }
          },
          {
            "name": "authentication_type",
            "in": "path",
            "description": "The authentication type to filter payments list",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/AuthenticationType"
                }
              ]
            }
          },
          {
            "name": "merchant_connector_id",
            "in": "path",
            "description": "The merchant connector id to filter payments list",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "order_on",
            "in": "path",
            "description": "The field on which the payments list should be sorted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SortOn"
            }
          },
          {
            "name": "order_by",
            "in": "path",
            "description": "The order in which payments list should be sorted",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SortBy"
            }
          },
          {
            "name": "card_network",
            "in": "path",
            "description": "The card networks to filter payments list",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/CardNetwork"
                }
              ]
            }
          },
          {
            "name": "merchant_order_reference_id",
            "in": "path",
            "description": "The identifier for merchant order reference id",
            "required": true,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a payment list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentListResponse"
                }
              }
            }
          },
          "404": {
            "description": "No payments found"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "jwt_key": []
          }
        ]
      }
    },
    "/v2/payment-methods": {
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Payment Method - Create",
        "description": "Creates and stores a payment method against a customer. In case of cards, this API should be used only by PCI compliant merchants.",
        "operationId": "Create Payment Method",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment Method Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payment-methods/create-intent": {
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Payment Method - Create Intent",
        "description": "Creates a payment method for customer with billing information and other metadata.",
        "operationId": "Create Payment Method Intent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodIntentCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment Method Intent Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payment-methods/{id}/confirm-intent": {
      "post": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Payment Method - Confirm Intent",
        "description": "Update a payment method with customer's payment method related information.",
        "operationId": "Confirm Payment Method Intent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodIntentConfirm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment Method Intent Confirmed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payment-methods/{id}/update-saved-payment-method": {
      "patch": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Payment Method - Update",
        "description": "Update an existing payment method of a customer.",
        "operationId": "Update Payment Method",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment Method Update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payment-methods/{id}": {
      "get": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Payment Method - Retrieve",
        "description": "Retrieves a payment method of a customer.",
        "operationId": "Retrieve Payment Method",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Method",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment Method Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment Method Not Found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Payment Method - Delete",
        "description": "Deletes a payment method of a customer.",
        "operationId": "Delete Payment Method",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Method",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment Method Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodDeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Payment Method Not Found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/customers/{id}/saved-payment-methods": {
      "get": {
        "tags": [
          "Payment Methods"
        ],
        "summary": "Payment Method - List Customer Saved Payment Methods",
        "description": "List the payment methods saved for a customer",
        "operationId": "List Customer Saved Payment Methods",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment Methods Retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerPaymentMethodsListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Customer Not Found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payment-method-session": {
      "post": {
        "tags": [
          "Payment Method Session"
        ],
        "summary": "Payment Method Session - Create",
        "description": "Create a payment method session for a customer\nThis is used to list the saved payment methods for the customer\nThe customer can also add a new payment method using this session",
        "operationId": "Create a payment method session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodSessionRequest"
              },
              "examples": {
                "Create a payment method session with customer_id": {
                  "value": {
                    "customer_id": "12345_cus_abcdefghijklmnopqrstuvwxyz"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Create the payment method session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/payment-method-session/{id}": {
      "get": {
        "tags": [
          "Payment Method Session"
        ],
        "summary": "Payment Method Session - Retrieve",
        "description": "Retrieve the payment method session",
        "operationId": "Retrieve the payment method session",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Method Session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The payment method session is retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodSessionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The request is invalid"
          }
        },
        "security": [
          {
            "ephemeral_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Payment Method Session"
        ],
        "summary": "Payment Method Session - Delete a saved payment method",
        "description": "Delete a saved payment method from the given payment method session.",
        "operationId": "Delete a saved payment method",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Method Session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodSessionDeleteSavedPaymentMethod"
              },
              "examples": {
                "Update the card holder name": {
                  "value": {
                    "payment_method_id": "12345_pm_0194b1ecabc172e28aeb71f70a4daba3"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The payment method has been updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodDeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "The request is invalid"
          }
        },
        "security": [
          {
            "ephemeral_key": []
          }
        ]
      }
    },
    "/v2/payment-method-session/{id}/list-payment-methods": {
      "get": {
        "tags": [
          "Payment Method Session"
        ],
        "summary": "Payment Method Session - List Payment Methods",
        "description": "List payment methods for the given payment method session.\nThis endpoint lists the enabled payment methods for the profile and the saved payment methods of the customer.",
        "operationId": "List Payment methods for a Payment Method Session",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Method Session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The payment method session is retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodListResponseForSession"
                }
              }
            }
          },
          "404": {
            "description": "The request is invalid"
          }
        },
        "security": [
          {
            "ephemeral_key": []
          }
        ]
      }
    },
    "/v2/payment-method-session/{id}/update-saved-payment-method": {
      "put": {
        "tags": [
          "Payment Method Session"
        ],
        "summary": "Payment Method Session - Update a saved payment method",
        "description": "Update a saved payment method from the given payment method session.",
        "operationId": "Update a saved payment method",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Method Session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodSessionUpdateSavedPaymentMethod"
              },
              "examples": {
                "Update the card holder name": {
                  "value": {
                    "payment_method_data": {
                      "card": {
                        "card_holder_name": "Narayan Bhat"
                      }
                    },
                    "payment_method_id": "12345_pm_0194b1ecabc172e28aeb71f70a4daba3"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The payment method has been updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "404": {
            "description": "The request is invalid"
          }
        },
        "security": [
          {
            "ephemeral_key": []
          }
        ]
      }
    },
    "/v2/payment-method-session/{id}/confirm": {
      "post": {
        "tags": [
          "Payment Method Session"
        ],
        "summary": "Payment Method Session - Confirm a payment method session",
        "description": "**Confirms a payment method session object with the payment method data**",
        "operationId": "Confirm the payment method session",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the Payment Method Session",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Profile-Id",
            "in": "header",
            "description": "Profile ID associated to the payment intent",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "pro_abcdefghijklmnop"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentMethodSessionConfirmRequest"
              },
              "examples": {
                "Confirm the payment method session with card details": {
                  "value": {
                    "payment_method_data": {
                      "card": {
                        "card_cvc": "123",
                        "card_exp_month": "10",
                        "card_exp_year": "25",
                        "card_number": "4242424242424242"
                      }
                    },
                    "payment_method_subtype": "credit",
                    "payment_method_type": "card"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payment Method created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "publishable_key": []
          }
        ]
      }
    },
    "/v2/refunds": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refunds - Create",
        "description": "Creates a refund against an already processed payment. In case of some processors, you can even opt to refund only a partial amount multiple times until the original charge amount has been refunded",
        "operationId": "Create a Refund",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundsCreateRequest"
              },
              "examples": {
                "Create an instant refund to refund partial amount": {
                  "value": {
                    "amount": 654,
                    "merchant_reference_id": "ref_123",
                    "payment_id": "{{payment_id}}",
                    "refund_type": "instant"
                  }
                },
                "Create an instant refund to refund the whole amount": {
                  "value": {
                    "merchant_reference_id": "ref_123",
                    "payment_id": "{{payment_id}}",
                    "refund_type": "instant"
                  }
                },
                "Create an instant refund with reason": {
                  "value": {
                    "amount": 6540,
                    "merchant_reference_id": "ref_123",
                    "payment_id": "{{payment_id}}",
                    "reason": "Customer returned product",
                    "refund_type": "instant"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/refunds/{id}/update_metadata": {
      "put": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refunds - Metadata Update",
        "description": "Updates the properties of a Refund object. This API can be used to attach a reason for the refund or metadata fields",
        "operationId": "Update Refund Metadata and Reason",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier for refund",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundMetadataUpdateRequest"
              },
              "examples": {
                "Update refund reason": {
                  "value": {
                    "reason": "Paid by mistake"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Refund updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing Mandatory fields"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/refunds/{id}": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refunds - Retrieve",
        "description": "Retrieves a Refund. This may be used to get the status of a previously initiated refund",
        "operationId": "Retrieve a Refund",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier for refund",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refund retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponse"
                }
              }
            }
          },
          "404": {
            "description": "Refund does not exist in our records"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/refunds/list": {
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Refunds - List",
        "description": "To list the refunds associated with a payment_id or with the merchant, if payment_id is not provided",
        "operationId": "List all Refunds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundListRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "List of refunds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundListResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/v2/process_tracker/revenue_recovery_workflow/{revenue_recovery_id}": {
      "get": {
        "tags": [
          "Revenue Recovery"
        ],
        "summary": "Revenue Recovery - Retrieve",
        "description": "Retrieve the Revenue Recovery Payment Info",
        "operationId": "Retrieve Revenue Recovery Info",
        "parameters": [
          {
            "name": "recovery_recovery_id",
            "in": "path",
            "description": "The payment intent id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revenue Recovery Info Retrieved Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueRecoveryResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource missing"
          },
          "422": {
            "description": "Unprocessable request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "jwt_key": []
          }
        ]
      }
    },
    "/proxy": {
      "post": {
        "tags": [
          "Proxy"
        ],
[...]
