openapi: "3.0.1"
info:
  version: "0.2"
  title: Juspay Router - API Documentation
  x-logo:
    url: "https://fresheropenings.com/wp-content/uploads/2019/09/Juspay-off-campus-drive-2019.png"
    altText: "Juspay logo"
  contact:
    name: Juspay Support
    url: "https://juspay.io"
    email: support@juspay.in
  termsOfService: "https://www.juspay.io/terms"
  description: >
    ## Get started

    Juspay Router provides a collection of APIs that enable you to process and manage payments. Our APIs accept and return JSON in the HTTP body, and return standard HTTP response codes</a>.

    You can consume the APIs directly using your favorite HTTP/REST library.

    We have a testing environment referred to "sandbox", which you can setup to test API calls without affecting production data.

    ### Base URLs

    Use the following base URLs when making requests to the APIs:

      | Environment   |      Base URL                                        |
      |---------------|------------------------------------------------------|
      | Sandbox       | <https://sandbox-router.juspay.io>                   |
      | Production    | <https://router.juspay.io>                           |

    # Authentication

    When you sign up for an account, you are given a secret key (also referred as api-key). You may authenticate all API requests with Juspay server by providing the appropriate key in the request Authorization header.

    Never share your secret api keys. Keep them guarded and secure.

servers:
  - url: https://sandbox-router.juspay.io
    description: Sandbox Environment
  - url: https://router.juspay.io
    description: Production Environment
tags:
  - name: Payments
    description: Process and manage payments across wide range of payment processors using the Unified Payments API.
  - name: Customers
    description: Create a Customer entity which you can use to store and retrieve specific customers' data and payment methods.
x-tagGroups:
  - name: Payments
    tags:
      - Payments
  - name: Customers
    tags:
      - Customers
  - name: Payment Methods
    tags:
      - PaymentMethods
  - name: Refunds
    tags:
      - Refunds
  - name: Mandates
    tags:
      - Mandates
  - name: Merchant Accounts
    tags:
      - MerchantAccounts
  - name: Payment Connectors
    tags:
      - PaymentConnectors

security:
  - ApiSecretKey: []

paths:
  /customers:
    post:
      tags:
        - Customers
      summary: Create Customer
      operationId: createCustomer
      description: Create a customer object and store the customer details to be reused for future payments. Incase the customer already exists in the system, this API will respond with the customer details.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerCreateRequest"
            example:
              customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
              email: "guest@example.com"
              name: "John Doe"
              phone: "999999999"
              phone_country_code: "+65"
              description: "First customer"
              address:
                city: "Bangalore"
                country: "IN"
                line1: "Juspay router"
                line2: "Koramangala"
                line3: "Stallion"
                state: "Karnataka"
                zip: "560095"
                first_name: "John"
                last_name: "Doe"
              metadata:
                udf1: "value1"
                new_customer: "true"
                login_date: "2019-09-10T10:11:12Z"
      responses:
        "200":
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCreateResponse"
              example:
                customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
                email: "guest@example.com"
                name: "John Doe"
                phone: "999999999"
                phone_country_code: "+65"
                description: "First customer"
                address:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
        "401":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"

  /customers/{id}:
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique customer id
      tags:
        - Customers
      summary: Retrieve Customer
      operationId: retrieveCustomer
      description: Retrieve a customer's details.
      responses:
        "200":
          description: Customer retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCreateResponse"
              example:
                customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
                email: "guest@example.com"
                name: "John Doe"
                phone: "999999999"
                phone_country_code: "+65"
                description: "First customer"
                address:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
        "404":
          description: Customer does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "customer_not_found"
                  message: "Customer does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique customer id
      tags:
        - Customers
      summary: Update Customer
      operationId: updateCustomer
      description: Updates the customer's details in a customer object.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerUpdateRequest"
      responses:
        "200":
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerCreateResponse"
        "404":
          description: Customer does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "customer_not_found"
                  message: "Customer does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
    delete:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique customer id
      tags:
        - Customers
      summary: Delete Customer
      operationId: deleteCustomer
      description: Delete a customer record.
      responses:
        "200":
          description: Customer deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerDeleteResponse"
        "404":
          description: Customer does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "customer_not_found"
                  message: "Customer does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /payments:
    post:
      tags:
        - Payments
      summary: Payments - Create
      operationId: createPayment
      description: "To process a payment you will have to create a payment, attach a payment method and confirm. Depending on the user journey you wish to achieve, you may opt to all the steps in a single request or in a sequence of API request using following APIs: (i) Payments - Update, (ii) Payments - Confirm, and (iii) Payments - Capture"
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/PaymentsCreateRequest"
      responses:
        "200":
          description: Payment created
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/PaymentsCreateResponse"
        "400":
          description: Missing Mandatory fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "parameter_missing"
                  message: "Missing required param: <parameter_name>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"

  /payments/{id}:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique payment id
      tags:
        - Payments
      summary: Payments - Update
      operationId: updatePayment
      description: "To update the properties of a PaymentIntent object. This may include attaching a payment method, or attaching customer object or metadata fields after the Payment is created "
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentsUpdateRequest"
            example:
              amount: 6540
              currency: "USD"
              capture_method: "automatic"
              capture_on: "2022-09-10T10:11:12Z"
              amount_to_capture: 6540
              amount_capturable: 6540
              customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
              email: "guest@example.com"
              name: "John Doe"
              phone: "999999999"
              phone_country_code: "+65"
              description: "Its my first payment request"
              setup_future_usage: "optional"
              authentication_type: "no_three_ds"
              payment_method: "card"
              save_payment_method: true
              payment_method_data:
                card:
                  card_number: "4242424242424242"
                  card_exp_month: "10"
                  card_exp_year: "35"
                  card_holder_name: "John Doe"
                  card_cvc: "123"
              statement_descriptor_name: "Juspay"
              statement_descriptor_suffix: "Router"
              shipping:
                city: "Bangalore"
                country: "IN"
                line1: "Juspay router"
                line2: "Koramangala"
                line3: "Stallion"
                state: "Karnataka"
                zip: "560095"
                first_name: "John"
                last_name: "Doe"
              billing:
                city: "Bangalore"
                country: "IN"
                line1: "Juspay router"
                line2: "Koramangala"
                line3: "Stallion"
                state: "Karnataka"
                zip: "560095"
                first_name: "John"
                last_name: "Doe"
              metadata:
                udf1: "value1"
                new_customer: "true"
                login_date: "2019-09-10T10:11:12Z"
      responses:
        "200":
          description: Payment updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsCreateResponse"
              example:
                payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
                amount: 6540
                currency: "USD"
                status: "requires_customer_action"
                merchant_id: "juspay_merchant"
                capture_method: "automatic"
                capture_on: "2022-09-10T10:11:12Z"
                amount_to_capture: 6540
                amount_capturable: 6540
                amount_recieved: 0
                customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
                email: "guest@example.com"
                name: "John Doe"
                phone: "999999999"
                phone_country_code: "+65"
                description: "Its my first payment request"
                return_url: "http://example.com/payments"
                setup_future_usage: "optional"
                authentication_type: "no_three_ds"
                shipping:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                billing:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                next_action:
                  type: "redirect_to_url"
                  redirect_to_url: "https://pg-redirect-page.com"
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_not_found"
                  message: "Payment does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "Amount shall be passed as: <expected_data_type>"

        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique payment id
      tags:
        - Payments
      summary: Payments - Retrieve
      operationId: retrievePayment
      description: "To retrieve the properties of a Payment. This may be used to get the status of a previously initiated payment or next action for an ongoing payment"
      responses:
        "200":
          description: Payment retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsCreateResponse"
              example:
                payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
                amount: 6540
                currency: "USD"
                status: "requires_customer_action"
                merchant_id: "juspay_merchant"
                capture_method: "automatic"
                capture_on: "2022-09-10T10:11:12Z"
                amount_to_capture: 6540
                amount_capturable: 6540
                customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
                email: "guest@example.com"
                name: "John Doe"
                phone: "999999999"
                phone_country_code: "+65"
                description: "Its my first payment request"
                return_url: "http://example.com/payments"
                setup_future_usage: "optional"
                authentication_type: "no_three_ds"
                shipping:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                billing:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                next_action:
                  type: "redirect_to_url"
                  redirect_to_url: "https://pg-redirect-page.com"
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_not_found"
                  message: "Payment does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /payments/{id}/capture:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique payment id
      tags:
        - Payments
      summary: Payments - Capture
      operationId: capturePayment
      description: "To capture the funds for an uncaptured payment"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentsCaptureRequest"
            example:
              amount_to_capture: 6540
              statement_descriptor_name: "Juspay"
              statement_descriptor_suffix: "Router"
      responses:
        "200":
          description: Payment captured
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsCreateResponse"
              example:
                payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
                amount: 6540
                currency: "USD"
                status: "succeeded"
                merchant_id: "juspay_merchant"
                capture_method: "automatic"
                capture_on: "2022-09-10T10:11:12Z"
                amount_to_capture: 6540
                amount_capturable: 0
                customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
                email: "guest@example.com"
                name: "John Doe"
                phone: "999999999"
                phone_country_code: "+65"
                description: "Its my first payment request"
                return_url: "http://example.com/payments"
                setup_future_usage: "optional"
                authentication_type: "no_three_ds"
                shipping:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                billing:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                next_action: null
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_not_found"
                  message: "Payment does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "Amount shall be passed as: <expected_data_type>"

        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /payments/{id}/confirm:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique payment id
      tags:
        - Payments
      summary: Payments - Confirm
      operationId: confirmPayment
      description: "This API is to confirm the payment request and forward payment to the payment processor. This API provides more granular control upon when the API is forwarded to the payment processor. Alternatively you can confirm the payment within the Payments-Create API"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentsConfirmRequest"
            example:
              return_url: "http://example.com/payments"
              setup_future_usage: "optional"
              authentication_type: "no_three_ds"
              payment_method: "card"
              save_payment_method: true
              payment_method_data:
                card:
                  card_number: "4242424242424242"
                  card_exp_month: "10"
                  card_exp_year: "35"
                  card_holder_name: "John Doe"
                  card_cvc: "123"
              shipping:
                city: "Bangalore"
                country: "IN"
                line1: "Juspay router"
                line2: "Koramangala"
                line3: "Stallion"
                state: "Karnataka"
                zip: "560095"
                first_name: "John"
                last_name: "Doe"
              billing:
                city: "Bangalore"
                country: "IN"
                line1: "Juspay router"
                line2: "Koramangala"
                line3: "Stallion"
                state: "Karnataka"
                zip: "560095"
                first_name: "John"
                last_name: "Doe"
      responses:
        "200":
          description: Payment confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsCreateResponse"
              example:
                amount: 6540
                currency: "USD"
                confirm: true
                payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
                merchant_id: "juspay_merchant"
                capture_method: "automatic"
                capture_on: "2022-09-10T10:11:12Z"
                amount_to_capture: 6540
                customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
                email: "guest@example.com"
                name: "John Doe"
                phone: "999999999"
                phone_country_code: "+65"
                description: "Its my first payment request"
                return_url: "http://example.com/payments"
                setup_future_usage: "optional"
                authentication_type: "no_three_ds"
                payment_method: "card"
                save_payment_method: true
                payment_method_data:
                  card:
                    card_number: "4242424242424242"
                    card_exp_month: "10"
                    card_exp_year: "35"
                    card_holder_name: "John Doe"
                    card_cvc: "123"
                statement_descriptor_name: "Juspay"
                statement_descriptor_suffix: "Router"
                shipping:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                billing:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_not_found"
                  message: "Payment does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "cancellation_reason shall be passed as: <expected_data_type>"

        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /payments/{id}/cancel:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique payment id
      tags:
        - Payments
      summary: Payments - Cancel
      operationId: cancelPayment
      description: "A Payment could can be cancelled when it is in one of these statuses: requires_payment_method, requires_capture, requires_confirmation, requires_customer_action"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentsCancelRequest"
            example:
              cancellation_reason: "Payment attempt expired"
      responses:
        "200":
          description: Payment cancelled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentsCreateResponse"
              example:
                payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
                amount: 6540
                currency: "USD"
                cancellation_reason: "Payment attempt expired"
                status: "cancelled"
                merchant_id: "juspay_merchant"
                capture_method: "automatic"
                capture_on: "2022-09-10T10:11:12Z"
                amount_to_capture: 6540
                amount_capturable: 0
                customer_id: "cus_udst2tfldj6upmye2reztkmm4i"
                email: "guest@example.com"
                name: "John Doe"
                phone: "999999999"
                phone_country_code: "+65"
                description: "Its my first payment request"
                return_url: "http://example.com/payments"
                setup_future_usage: "optional"
                authentication_type: "no_three_ds"
                shipping:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                billing:
                  city: "Bangalore"
                  country: "IN"
                  line1: "Juspay router"
                  line2: "Koramangala"
                  line3: "Stallion"
                  state: "Karnataka"
                  zip: "560095"
                  first_name: "John"
                  last_name: "Doe"
                next_action: null
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_not_found"
                  message: "Payment does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "cancellation_reason shall be passed as: <expected_data_type>"

        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /refunds:
    post:
      tags:
        - Refunds
      summary: Refunds - Create
      operationId: createRefunds
      description: "To create a refund against an already processed payment"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundsCreateRequest"
            example:
              payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
              refund_id: "a8537066-2569-4ac4-a7d3-87453387b09b"
              amount: 100
              currency: "USD"
              reason: "Customer returned product"
              metadata:
                udf1: "value1"
                new_customer: "true"
                login_date: "2019-09-10T10:11:12Z"
      responses:
        "200":
          description: Refund created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundsObject"
              example:
                payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
                refund_id: "a8537066-2569-4ac4-a7d3-87453387b09b"
                amount: 100
                status: "pending"
                currency: "USD"
                reason: "Customer returned product"
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
                created_at: "2022-09-10T10:11:12Z"
        "400":
          description: Missing Mandatory fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "parameter_missing"
                  message: "Missing required param: <parameter_name>"

  /refunds/{id}:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique refund id
      tags:
        - Refunds
      summary: Refunds - Update
      operationId: updateRefund
      description: "To update the properties of a Refund object. This may include attaching a reason for the refund or metadata fields"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundsUpdateRequest"
            example:
              reason: "Customer returned product"
              metadata:
                udf1: "value1"
                new_customer: "true"
                login_date: "2019-09-10T10:11:12Z"
      responses:
        "200":
          description: Refund updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundsObject"
              example:
                payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
                refund_id: "a8537066-2569-4ac4-a7d3-87453387b09b"
                amount: 100
                status: "pending"
                currency: "USD"
                reason: "Customer returned product"
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
                created_at: "2022-09-10T10:11:12Z"
        "404":
          description: Refund does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "refund_not_found"
                  message: "Refund does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "Amount shall be passed as: <expected_data_type>"

        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: unique refund id
      tags:
        - Refunds
      summary: Refunds - Retrieve
      operationId: retrieveRefund
      description: "To retrieve the properties of a Refund. This may be used to get the status of a previously initiated payment or next action for an ongoing payment"
      responses:
        "200":
          description: Refund retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundsObject"
              example:
                payment_id: "pay_mbabizu24mvu3mela5njyhpit4"
                refund_id: "a8537066-2569-4ac4-a7d3-87453387b09b"
                amount: 100
                status: "pending"
                currency: "USD"
                reason: "Customer returned product"
                metadata:
                  udf1: "value1"
                  new_customer: "true"
                  login_date: "2019-09-10T10:11:12Z"
                created_at: "2022-09-10T10:11:12Z"
        "404":
          description: Refund does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "refund_not_found"
                  message: "Refund does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"

  /payment_methods:
    post:
      tags:
        - PaymentMethods
      summary: PaymentMethods - Create
      operationId: createPaymentMethodForCustomer
      description: "To create a payment method against a customer object. In case of cards, this API could be used only by PCI compliant merchants"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodsCreateRequest"
      responses:
        "200":
          description: Payment Method Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodsResponseObject"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "accepted_country shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /payment_methods/{id}:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The unique identifier for the payment method
      tags:
        - PaymentMethods
      summary: PaymentMethods - Update
      operationId: updatePaymentMethodForCustomer
      description: "To update an existing a payment method attached to a customer object. This API is useful for use cases such as updating the card number for expired cards, to prevent discontinuity in recurring payments"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethodsUpdateRequest"
      responses:
        "200":
          description: Payment Method Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodsResponseObject"
        "404":
          description: Payment Method does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_method_not_found"
                  message: "Payment Method does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "accepted_country shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /payment_methods/{id}/detach:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The unique identifier for the payment method
      tags:
        - PaymentMethods
      summary: Delete PaymentMethods
      operationId: deletePaymentMethods
      description: Detaches a PaymentMethod object from a Customer.
      responses:
        "200":
          description: Payment Method detached successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodDeleteResponse"
        "404":
          description: Payment Method does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_method_not_found"
                  message: "Payment Method does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /payment_methods/{merchant_id}:
    get:
      parameters:
        - in: query
          name: accepted_country
          schema:
            type: array
            items:
              type: string
              description: |
                The two-letter ISO currency code
              example: [US, UK, IN]
              maxLength: 2
              minLength: 2
        - in: query
          name: accepted_currency
          schema:
            type: array
            items:
              type: string
              description: |
                The three-letter ISO currency code
              example: [USD, EUR]
        - in: query
          name: minimum_amount
          schema:
            type: integer
            description: The minimum amount accepted for processing by the particular payment method.
            example: 100
        - in: query
          name: maximum_amount
          schema:
            type: integer
            description: The minimum amount accepted for processing by the particular payment method.
            example: 10000000
        - in: query
          name: recurring_payment_enabled
          schema:
            type: boolean
            description: Indicates whether the payment method is eligible for recurring payments
            example: true
        - in: query
          name: installment_payment_enabled
          schema:
            type: boolean
            description: Indicates whether the payment method is eligible for installment payments
            example: true
      tags:
        - PaymentMethods
      summary: List payment methods for a Merchant
      operationId: listPaymentMethodsByMerchantId
      description: "To filter and list the applicable payment methods for a particular merchant id."
      responses:
        "200":
          description: Payment Methods retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArrayOfMerchantPaymentMethods"
        "404":
          description: Payment Methods does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_method_not_found"
                  message: "Payment Methods does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "accepted_currency shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"

  /accounts:
    post:
      tags:
        - MerchantAccounts
      summary: Merchant Account - Create
      operationId: createMerchantAccount
      description: "Create a new account for a merchant. The merchant could be a seller or retailer or client who likes to receive and send payments."
      security:
        - AdminSecretKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MerchantAccountCreateRequest"
      responses:
        "200":
          description: Merchant Account Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantAccountResponse"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "merchant_name can't be empty or null"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /accounts/{id}:
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The unique identifier for the merchant account
      tags:
        - MerchantAccounts
      summary: Merchant Account - Retrieve
      operationId: retrieveMerchantAccount
      description: Retrieve a merchant account details.
      security:
        - AdminSecretKey: []
      responses:
        "200":
          description: Merchant Account retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantAccountResponse"
        "404":
          description: Merchant Account does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "merchant_account_not_found"
                  message: "Merchant Account does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The unique identifier for the merchant account
      tags:
        - MerchantAccounts
      summary: Merchant Account - Update
      operationId: updateMerchantAccount
      description: "To update an existing merchant account. Helpful in updating merchant details such as email, contact details, or other configuration details like webhook, routing algorithm etc"
      security:
        - AdminSecretKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MerchantAccountUpdateRequest"
      responses:
        "200":
          description: Merchant Account Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantAccountResponse"
        "404":
          description: Merchant Account does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "merchant_account_not_found"
                  message: "Merchant Account does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "Update Field can't be empty"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
    delete:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: The unique identifier for the merchant account
      tags:
        - MerchantAccounts
      summary: Merchant Account - Delete
      operationId: deleteMerchantAccount
      description: Delete a Merchant Account
      security:
        - AdminSecretKey: []
      responses:
        "200":
          description: Merchant Account deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantAccountDeleteResponse"
        "404":
          description: Merchant Account does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "merchant_account_not_found"
                  message: "Merchant Account does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /customers/{customer_id}/mandates:
    get:
      parameters:
        - in: path
          name: customer_id
          schema:
            type: string
          required: true
          description: Unique customer id for which the list of mandates to be retrieved.
      tags:
        - Mandates
      summary: Mandate - List all mandates against a customer id
      operationId: listMandateDetails
      description: "To list the all the mandates for a customer"
      responses:
        "200":
          description: Customer's mandates retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/MandateListResponse"
        "404":
          description: Payment does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_not_found"
                  message: "Payment does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "Amount shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /customers/{customer_id}/payment_methods:
    get:
      parameters:
        # - in: path
        #   name: customer_id
        #   schema:
        #       type: string
        #   required: true
        #   description: The unique ID for the Customer.
        - in: query
          name: accepted_country
          schema:
            type: array
            items:
              type: string
              description: |
                The two-letter ISO currency code
              example: ["US", "UK", "IN"]
              maxLength: 2
              minLength: 2
        - in: query
          name: accepted_currency
          schema:
            type: array
            items:
              type: string
              description: |
                The three-letter ISO currency code
              example: ["USD", "EUR"]
        - in: query
          name: minimum_amount
          schema:
            type: integer
            description: |
              The minimum amount accepted for processing by the particular payment method.
            example: 100
        - in: query
          name: maximum_amount
          schema:
            type: integer
            description: |
              The minimum amount accepted for processing by the particular payment method.
            example: 10000000
        - in: query
          name: recurring_payment_enabled
          schema:
            type: boolean
            description: Indicates whether the payment method is eligible for recurring payments
            example: true
        - in: query
          name: installment_payment_enabled
          schema:
            type: boolean
            description: Indicates whether the payment method is eligible for installment payments
            example: true
      security:
        - ApiSecretKey: []
      tags:
        - PaymentMethods
      summary: List payment methods for a Customer
      operationId: listPaymentMethodsByCustomerId
      description: "To filter and list the applicable payment methods for a particular Customer ID"
      responses:
        "200":
          description: Payment Methods retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerPaymentMethods"
        "404":
          description: Payment Methods does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_method_not_found"
                  message: "Payment Methods does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "accepted_currency shall be passed as: <expected_data_type>"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /mandates/{id}:
    get:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: Unique mandate id
      tags:
        - Mandates
      summary: Mandate - List details of a mandate
      operationId: listMandateDetails
      description: "To list the details of a mandate"
      # requestBody:
      #     content:
      #         application/json:
      #             schema:
      #                 $ref: "#/components/schemas/MandateListResponse"
      responses:
        "200":
          description: Mandate retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MandateListResponse"
        "404":
          description: Mandate does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_not_found"
                  message: "Payment does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /mandates/{id}/revoke:
    post:
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
          description: Unique mandate id
      tags:
        - Mandates
      summary: Mandate - Revoke a mandate
      operationId: revokeMandateDetails
      description: "To revoke a mandate registered against a customer"
      # requestBody:
      #     content:
      #         application/json:
      #             schema:
      #                 type: object
      #                 properties:
      #                     command:
      #                         type: string
      #                         description: The command for revoking a mandate.
      #                         example: "revoke"
      responses:
        "200":
          description: Mandate Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  mandate_id:
                    type: string
                    description: |
                      The unique id corresponding to the mandate.
                    example: "mandate_end38934n12s923d0"
                  status:
                    type: string
                    description: The status of the mandate.
                    example: "revoked"
        "404":
          description: Mandate does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_not_found"
                  message: "Payment does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "command shall be passed as: <expected_data_type>"
        # "400":
        #     description: Invalid parameter
        #     content:
        #         application/json:
        #             schema:
        #                 $ref: "#/components/responses/BadRequestError"
        #             example:
        #                 error:
        #                     type: "invalid_request_error"
        #                     code: "invalid_parameter"
        #                     message: "The return_url cannot be passed unless confirm is set to true"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"

  /account/{account_id}/connectors:
    post:
      parameters:
        - in: path
          name: account_id
          schema:
            type: string
          required: true
          description: The unique identifier for the merchant account
      tags:
        - PaymentConnectors
      summary: Payment Connector - Create
      operationId: createPaymentConnector
      description: "Create a new Payment Connector for the merchant account. The connector could be a payment processor / facilitator / acquirer or specialized services like Fraud / Accounting etc."
      security:
        - AdminSecretKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentConnectorCreateRequest"
      responses:
        "200":
          description: Payment Connector Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentConnectorResponse"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "connector_name can't be empty or null"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
  /account/{account_id}/connectors/{connector_id}:
    get:
      parameters:
        - in: path
          name: account_id
          schema:
            type: string
          required: true
          description: The unique identifier for the merchant account
        - in: path
          name: connector_id
          schema:
            type: string
          required: true
          description: The unique identifier for the payment connector
      tags:
        - PaymentConnectors
      summary: Payment Connector - Retrieve
      operationId: retrievePaymentConnector
      description: Retrieve Payment Connector details.
      security:
        - AdminSecretKey: []
      responses:
        "200":
          description: Payment Connector retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentConnectorResponse"
        "404":
          description: Payment Connector does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_connector_not_found"
                  message: "Payment Connector does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
    post:
      parameters:
        - in: path
          name: id1
          schema:
            type: string
          required: true
          description: The unique identifier for the merchant account
        - in: path
          name: id2
          schema:
            type: string
          required: true
          description: The unique identifier for the payment connector
      tags:
        - PaymentConnectors
      summary: Payment Connector - Update
      operationId: updatePaymentConnector
      description: "To update an existing Payment Connector. Helpful in enabling / disabling different payment methods and other settings for the connector etc"
      security:
        - AdminSecretKey: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentConnectorUpdateRequest"
      responses:
        "200":
          description: Payment Connector Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentConnectorResponse"
        "404":
          description: Payment Connector does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_connector_not_found"
                  message: "Payment Connector does not exist in records"
        "400":
          description: Invalid data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_data"
                  message: "Update Field can't be empty"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"
    delete:
      parameters:
        - in: path
          name: id1
          schema:
            type: string
          required: true
          description: The unique identifier for the merchant account
        - in: path
          name: id2
          schema:
            type: string
          required: true
          description: The unique identifier for the payment connector
      tags:
        - PaymentConnectors
      summary: Payment Connector - Delete
      operationId: deletePaymentConnector
      description: Delete or Detach a Payment Connector from Merchant Account
      security:
        - AdminSecretKey: []
      responses:
        "200":
          description: Payment Connector detached successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentConnectorDeleteResponse"
        "404":
          description: Payment Connector does not exist in records
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "object_not_found"
                  code: "payment_connector_not_found"
                  message: "Payment Connector does not exist in records"
        "401":
          description: Unauthorized request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  type: "invalid_request_error"
                  code: "invalid_api_authentication"
                  message: "Access forbidden, invalid api-key was used"

components:
  schemas:
    ArrayOfMerchantPaymentMethods:
      type: array
      items:
        properties:
          payment_method:
            type: string
            $ref: "#/components/schemas/PaymentMethod"
            example: card
          payment_method_types:
            type: array
            items:
              $ref: "#/components/schemas/PaymentMethodType"
              example: [CREDIT]
          payment_method_issuers:
            type: array
            description: List of payment method issuers to be enabled for this payment method
            items:
              type: string
              example: [CHASE, WELLS_FARGO]
          payment_method_issuer_codes:
            type: string
            description: |
              A standard code representing the issuer of payment method
            example: [PM_CHASE, PM_WELLS]
          payment_schemes:
            type: array
            description: List of payment schemes accepted or has the processing capabilities of the processor
            items:
              $ref: "#/components/schemas/PaymentSchemes"
              example: [MASTER, VISA, DINERS]
          accepted_currencies:
            type: array
            description: List of currencies accepted or has the processing capabilities of the processor
            items:
              $ref: "#/components/schemas/CurrencyISO"
              example: [USD, EUR, AED]
          accepted_countries:
            type: array
            description: List of Countries accepted or has the processing capabilities of the processor
            items:
              $ref: "#/components/schemas/CountryISO"
              example: [US, IN]
          minimum_amount:
            type: integer
            description: Minimum amount supported by the processor. To be represented in the lowest denomination of the target currency (For example, for USD it should be in cents)
            example: 1
          maximum_amount:
            type: integer
            description: Maximum amount supported by the processor. To be represented in the lowest denomination of the target currency (For example, for USD it should be in cents)
            example: null
          recurring_enabled:
            type: boolean
            description: Boolean to enable recurring payments / mandates. Default is true.
            example: true
          installment_payment_enabled:
            type: boolean
            description: Boolean to enable installment / EMI / BNPL payments. Default is true.
            example: true
          payment_experience:
            type: array
            description: Type of payment experience enabled with the connector
            items:
              $ref: "#/components/schemas/NextAction"
            example: ["redirect_to_url"]
          # payment_method:
          #     type: string
          #     description: |
          #         The type of payment method use for the payment.
          #     enum:
          #         - card
          #         - payment_container
          #         - bank_transfer
          #         - bank_debit
          #         - pay_later
          #         - upi
          #         - netbanking
          #     example: card
          # payment_method_type:
          #     type: string
          #     description: |
          #         This is a sub-category of payment method.
          #     enum:
          #         - credit_card
          #         - debit_card
          #         - upi_intent
          #         - upi_collect
          #         - credit_card_installments
          #         - pay_later_installments
          #     example: credit_card
          # payment_method_issuer:
          #     type: string
          #     description: |
          #         The name of the bank/ provider issuing the payment method to the end user
          #     example: Citibank
          # payment_method_issuer_code:
          #     type: string
          #     description: |
          #         A standard code representing the issuer of payment method
          #     example: PM_CHASE
          # accepted_country:
          #     type: array
          #     items:
          #         type: string
          #         description: |
          #             The two-letter ISO currency code
          #         example: [US, UK, IN]
          #         maxLength: 2
          #         minLength: 2
          # accepted_currency:
          #     type: array
          #     items:
          #         type: string
          #         description: |
          #             The three-letter ISO currency code
          #         example: [USD, EUR]
          # minimum_amount:
          #     type: integer
          #     description: |
          #         The minimum amount accepted for processing by the particular payment method.
          #     example: 100
          # maximum_amount:
          #     type: integer
          #     description: |
          #         The minimum amount accepted for processing by the particular payment method.
          #     example: 10000000
          # recurring_payment_enabled:
          #     type: boolean
          #     description: Indicates whether the payment method is eligible for recurring payments
          #     example: true
          # installment_payment_enabled:
          #     type: boolean
          #     description: Indicates whether the payment method is eligible for installment payments
          #     example: true
          # payment_experience:
          #     type: array
          #     items:
          #         type: string
          #         description: "This indicates type of next_action (refer the response of Payment Create ) that is required in order to complete the payment with inputs from the user. This may involve actions such as redirecting the user to a URL, displaying a QR code, invoking the SDK client"
          #         enum:
          #             - redirect_to_url
          #             - display_qr_code
          #             - invoke_sdk_client
          #         example: ["redirect_to_url", "display_qr_code"]

    CustomerPaymentMethods:
      type: object
      properties:
        enabled_payment_methods:
          type: array
          items:
            type: object
            $ref: "#/components/schemas/PaymentMethodsEnabled"
        customer_payment_methods:
          type: array
          items:
            type: object
            description: Refers to the Parent Merchant ID if the merchant being created is a sub-merchant
            $ref: "#/components/schemas/PaymentMethodsResponseObject"

    # ArrayOfCustomerPaymentMethods:
    #     type: array
    #     items:
    #         type: object
    #         properties:
    #             payment_method_id:
    #                 type: string
    #                 description: |
    #                     The id corresponding to the payment method.
    #                 example: "pm_end38934n12s923d0"
    #             payment_method:
    #                 type: string
    #                 description: |
    #                     The type of payment method use for the payment.
    #                 enum:
    #                     - card
    #                     - payment_container
    #                     - bank_transfer
    #                     - bank_debit
    #                     - pay_later
    #                     - upi
    #                     - netbanking
    #                 example: card
    #             payment_method_type:
    #                 type: string
    #                 description: |
    #                     This is a sub-category of payment method.
    #                 enum:
    #                     - credit_card
    #                     - debit_card
    #                     - upi_intent
    #                     - upi_collect
    #                     - credit_card_installments
    #                     - pay_later_installments
    #                 example: credit_card
    #             payment_method_issuer:
    #                 type: string
    #                 description: |
    #                     The name of the bank/ provider issuing the payment method to the end user
    #                 example: Citibank
    #             payment_method_issuer_code:
    #                 type: string
    #                 description: |
    #                     A standard code representing the issuer of payment method
    #                     example: PM_CHASE
    #             payment_scheme:
    #                 type: array
    #                 items:
    #                     type: string
    #                     description: |
    #                         The network scheme to which the payment method belongs
    #                     example: [MASTER, VISA]
    #             accepted_country:
    #                 type: array
    #                 items:
    #                     type: string
    #                     description: |
    #                         The two-letter ISO currency code
    #                     example: [US, UK, IN]
    #                     maxLength: 2
    #                     minLength: 2
    #             accepted_currency:
    #                 type: array
    #                 items:
    #                     type: string
    #                     description: |
    #                         The three-letter ISO currency code
    #                     example: [USD, EUR]
    #             minimum_amount:
    #                 type: integer
    #                 description: |
    #                     The minimum amount accepted for processing by the particular payment method.
    #                 example: 100
    #             maximum_amount:
    #                 type: integer
    #                 description: |
    #                     The minimum amount accepted for processing by the particular payment method.
    #                 example: 10000000
    #             recurring_payment_enabled:
    #                 type: boolean
    #                 description: Indicates whether the payment method is eligible for recurring payments
    #                 example: true
    #             installment_payment_enabled:
    #                 type: boolean
    #                 description: Indicates whether the payment method is eligible for installment payments
    #                 example: true
    #             payment_experience:
    #                 type: array
    #                 items:
    #                     type: string
    #                     description: "This indicates type of next_action (refer the response of Payment Create ) that is required in order to complete the payment with inputs from the user. This may involve actions such as redirecting the user to a URL, displaying a QR code, invoking the SDK client"
    #                     enum:
    #                         - redirect_to_url
    #                         - display_qr_code
    #                         - invoke_sdk_client
    #                     example: ["redirect_to_url", "display_qr_code"]
    #             card:
    #                 description: The card identifier information to be displayed on the user interface
    #                 $ref: "#/components/schemas/CardPaymentMethodResponse"
    #             metadata:
    #                 type: object
    #                 description: You can specify up to 50 keys, with key names up to 40 characters long and values up to 500 characters long. Metadata is useful for storing additional, structured information on an object.
    #                 maxLength: 255
    #                 example: { "city": "NY", "unit": "245" }
    Address:
      type: object
      properties:
        line1:
          type: string
          description: The first line of the address
          maxLength: 200
          example: Juspay Router
        line2:
          type: string
          description: The second line of the address
          maxLength: 200
          example: Koramangala
        line3:
          type: string
          description: The second line of the address
          maxLength: 200
          example: Stallion
        city:
          type: string
          description: The address city
          maxLength: 50
          example: Bangalore
        state:
          type: string
          description: The address state
          maxLength: 50
          example: Karnataka
        zip:
          type: string
          description: The address zip/postal code
          maxLength: 50
          example: "560095"
        country:
          type: string
          description: The two-letter ISO country code
          example: IN
          maxLength: 2
          minLength: 2
    CustomerCreateRequest:
      type: object
      description: The customer details
      properties:
        customer_id:
          type: string
          description: The identifier for the customer object. If not provided the customer ID will be autogenerated.
          maxLength: 255
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        email:
          type: string
          format: email
          description: The customer's email address
          maxLength: 255
          example: JohnTest@test.com
        name:
          type: string
          description: The customer's name
          maxLength: 255
          example: John Test
        phone_country_code:
          type: string
          description: The country code for the customer phone number
          maxLength: 255
          example: "+65"
        phone:
          type: string
          description: The customer's phone number
          maxLength: 255
          example: 9999999999
        description:
          type: string
          description: An arbitrary string that you can attach to a customer object.
          maxLength: 255
          example: First customer
        address:
          type: object
          description: The address for the customer
          $ref: "#/components/schemas/Address"
        metadata:
          type: object
          description: You can specify up to 50 keys, with key names up to 40 characters long and values up to 500 characters long. Metadata is useful for storing additional, structured information on an object.
          maxLength: 255
          example: { "city": "NY", "unit": "245" }
    CustomerUpdateRequest:
      type: object
      description: The customer details to be updated
      properties:
        email:
          type: string
          format: email
          description: The customer's email address
          maxLength: 255
          example: JohnTest@test.com
        name:
          type: string
          description: The customer's name
          maxLength: 255
          example: John Test
        phone_country_code:
          type: string
          description: The country code for the customer phone number
          maxLength: 255
          example: "+65"
        phone:
          type: string
          description: The customer's phone number
          maxLength: 255
          example: 9999999999
        address:
          type: object
          description: The address for the customer
          $ref: "#/components/schemas/Address"
        description:
          type: string
          description: An arbitrary string that you can attach to a customer object.
          maxLength: 255
          example: First customer
        metadata:
          type: object
          description: You can specify up to 50 keys, with key names up to 40 characters long and values up to 500 characters long. Metadata is useful for storing additional, structured information on an object.
          maxLength: 255
          example: { "city": "NY", "unit": "245" }
    CustomerCreateResponse:
      type: object
      description: Customer
      required:
        - customer_id
      properties:
        customer_id:
          type: string
          description: The identifier for the customer object. If not provided the customer ID will be autogenerated.
          maxLength: 255
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        email:
          type: string
          format: email
          description: The customer's email address
          maxLength: 255
          example: JohnTest@test.com
        name:
          type: string
          description: The customer's name
          maxLength: 255
          example: John Test
        phone_country_code:
          type: object
          description: The country code for the customer phone number
          maxLength: 255
          example: +65
        phone:
          type: object
          description: The customer's phone number
          maxLength: 255
          example: 9999999999
        address:
          type: object
          description: The address for the customer
          $ref: "#/components/schemas/Address"
        description:
          type: object
          description: An arbitrary string that you can attach to a customer object.
          maxLength: 255
          example: First customer
        metadata:
          type: object
          description: You can specify up to 50 keys, with key names up to 40 characters long and values up to 500 characters long. Metadata is useful for storing additional, structured information on an object.
          maxLength: 255
          example: { "city": "NY", "unit": "245" }
    CustomerDeleteResponse:
      type: object
      description: Customer
      required:
        - customer_id
        - deleted
      properties:
        customer_id:
          type: string
          description: The identifier for the customer object. If not provided the customer ID will be autogenerated.
          maxLength: 255
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        deleted:
          type: boolean
          description: Indicates the deletion status of the customer object.
          example: true
    UpdateCustomerRequest:
      type: object
      description: The customer attached to the instrument
      properties:
        email:
          description: The email address of the customer
          type: string
          example: JohnTest@test.com
        name:
          description: The name of the customer
          type: string
          example: John Test
        default:
          description: The instrument ID for this customer’s default instrument
          type: string
          example: src_imu3wifxfvlebpqqq5usjrze6y
        phone:
          type: object
          description: The customer's phone number
          example: "9999999999"
        address:
          type: object
          description: The address for the customer
          $ref: "#/components/schemas/Address"
        metadata:
          type: object
          description: Allows you to store additional information about a customer. You can include a maximum of 10 key-value pairs. Each key and value can be up to 100 characters long.
          example:
            coupon_code: "NY2018"
            partner_id: 123989
    PaymentsCreateRequest:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: integer
          description: |
            The payment amount. Amount for the payment in lowest denomination of the currency. (i.e) in cents for USD denomination, in paisa for INR denomination etc.,
          minimum: 100
          example: 6540
        currency:
          type: string
          description: |
            The three-letter ISO currency code
          example: USD
          maxLength: 3
          minLength: 3
        payment_id:
          type: string
          description: |
            Unique Identifier for the Payment. It is always recommended to provide this ID while creating a payment.
            If the identifiers in not provided in the Payment Request, this filed shall be auto generated and provide in the API response. It is suggested to keep the payment_id length as a maximum of 30 alphanumeric characters irrespective of payment methods and gateways. 
            Sequential and only numeric characters are not recommended.
          maxLength: 30
          minLength: 30
          example: "pay_mbabizu24mvu3mela5njyhpit4"
        confirm:
          type: boolean
          description: Whether to confirm the payment (if applicable)
          default: false
          example: true
        capture_method:
          type: string
          description: "This is the instruction for capture/ debit the money from the users' card. On the other hand authorization refers to blocking the amount on the users' payment method. Capture request may happen in three types: (1) AUTOMATIC: Post the payment authorization, the capture will be executed on the full amount immediately, (2) MANUAL: The capture will happen only if the merchant triggers a Capture API request, (3) SCHEDULED: The capture can be scheduled to automatically get triggered at a specific date & time"
          enum:
            - automatic
            - manual
            - scheduled
          default: automatic
          example: automatic
        capture_on:
          description: |
            A timestamp (ISO 8601 code) that determines when the payment should be captured.
            Providing this field will automatically set `capture` to true
          allOf:
            - $ref: "#/components/schemas/Timestamp"
        amount_to_capture:
          type: integer
          description: |
            The Amount to be captured/ debited from the users payment method. It shall be in lowest denomination of the currency. (i.e) in cents for USD denomination, in paisa for INR denomination etc.,
            If not provided, the default amount_to_capture will be the payment amount.
          minimum: 100
          example: 6540
        customer_id:
          type: string
          description: The identifier for the customer object. If not provided the customer ID will be autogenerated.
          maxLength: 255
          example: cus_y3oqhf46pyzuxjbcn2giaqnb44
        description:
          type: string
          description: A description of the payment
          maxLength: 255
          example: "Its my first payment request"
        email:
          type: string
          format: email
          description: The customer's email address
          maxLength: 255
          example: JohnTest@test.com
        name:
          type: string
          description: The customer's name
          maxLength: 255
          example: John Test
        phone:
          type: string
          description: The customer's phone number
          maxLength: 255
          example: 9999999999
        phone_country_code:
          type: string
          description: The country code for the customer phone number
          maxLength: 255
          example: "+65"
        return_url:
          type: string
          description: The URL to redirect after the completion of the operation
          maxLength: 255
          example: "https://juspay.io/"
        setup_future_usage:
          type: string
          description: "Indicates that you intend to make future payments with this Payment’s payment method. Providing this parameter will attach the payment method to the Customer, if present, after the Payment is confirmed and any required actions from the user are complete."
          enum:
            - on_session
            - off_session
          example: off_session
        off_session:
          type: boolean
          description: "Set to true to indicate that the customer is not in your checkout flow during this payment, and therefore is unable to authenticate. This parameter is intended for scenarios where you collect card details and charge them later. This parameter can only be used with confirm=true."
          example: true
        mandate_data:
          type: object
          description: This hash contains details about the Mandate to create. This parameter can only be used with confirm=true.
          properties:
            customer_acceptance:
              type: object
              description: Details about the customer’s acceptance.
              $ref: "#/components/schemas/CustomerAcceptance"
        mandate_id:
          type: string
          description: ID of the mandate to be used for this payment. This parameter can only be used with confirm = true. This parameter should be passed for Merchant Initiated Transaction scenarios where the user has already registered for a mandate and raw payment method details are not available.
          example: "mandate_iwer89rnjef349dni3"
        authentication_type:
          type: string
          description: "The transaction authentication can be set to undergo payer authentication. Possible values are: (i) THREE_DS: If the card is enrolled for 3DS authentication, the 3DS based authentication will be activated. The liability of chargeback shift to the issuer, (ii) NO_THREE_DS: 3DS based authentication will not be activated. The liability of chargeback stays with the merchant. By default, the authentication will be marked as NO_THREE_DS"
          enum:
            - three_ds
            - three_ds_2
            - no_three_ds
          default: no_three_ds
          example: no_three_ds
        payment_method:
          type: string
          description: "The payment method"
          enum:
            - card
            - bank_transfer
            - netbanking
            - upi
            - open_banking
            - consumer_finance
            - wallet
          example: card
        payment_method_data:
          type: object
          description: The payment method information
          properties:
            card:
              type: object
              description: payment card
              oneOf:
                - $ref: "#/components/schemas/CardData"
        # save_payment_method:
        #     type: boolean
        #     description: Enable this flag as true, if the user has consented for saving the payment method information
        #     default: false
        #     example: true
        billing:
          type: object
          description: The billing address for the payment
          $ref: "#/components/schemas/Address"
        shipping:
          type: object
          description: The shipping address for the payment
          $ref: "#/components/schemas/Address"
        statement_descriptor_name:
          type: string
          description: For non-card charges, you can use this value as the complete description that appears on your customers’ statements. Must contain at least one letter, maximum 22 characters.
          maxLength: 255
          example: "Juspay Router"
        statement_descriptor_suffix:
          type: string
          description: Provides information about a card payment that customers see on their statements. Concatenated with the prefix (shortened descriptor) or statement descriptor that’s set on the account to form the complete statement descriptor. Maximum 22 characters for the concatenated descriptor.
          maxLength: 255
          example: "Payment for shoes purchase"
        metadata:
          type: object
[...]
