[package]
name = "router_derive"
description = "Utility macros for the `router` crate"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
readme = "README.md"
license.workspace = true

[lib]
proc-macro = true
doctest = false

[dependencies]
indexmap = "2.2.6"
proc-macro2 = "1.0.79"
quote = "1.0.35"
syn = { version = "2.0.57", features = ["full", "extra-traits"] } # the full feature does not seem to encompass all the features
strum = { version = "0.26.2", features = ["derive"] }

[dev-dependencies]
diesel = { version = "2.1.5", features = ["postgres"] }
serde = { version = "1.0.197", features = ["derive"] }
