[package]
name = "router_derive"
description = "Utility macros for the `router` crate"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
readme = "README.md"
license.workspace = true

[lib]
proc-macro = true
doctest = false

[dependencies]
indexmap = "2.2.6"
proc-macro2 = "1.0.79"
quote = "1.0.35"
serde_json = "1.0.115"
strum = { version = "0.26.2", features = ["derive"] }
syn = { version = "2.0.57", features = ["full", "extra-traits"] } # the full feature does not seem to encompass all the features

[dev-dependencies]
diesel = { version = "2.2.3", features = ["postgres"] }
error-stack = "0.4.1"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
utoipa = "4.2.0"

common_utils = { version = "0.1.0", path = "../common_utils" }

[lints]
workspace = true
