[package]
name = "common_utils"
description = "Utilities shared across router and other crates"
version = "0.1.0"
edition = "2021"
rust-version = "1.65"
readme = "README.md"
license = "Apache-2.0"

[dependencies]
async-trait = "0.1.63"
bytes = "1.3.0"
error-stack = "0.2.4"
futures = "0.3.25"
hex = "0.4.3"
nanoid = "0.4.0"
once_cell = "1.17.0"
rand = "0.8.5"
regex = "1.7.1"
ring = "0.16.20"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
serde_urlencoded = "0.7.1"
signal-hook-tokio = { version = "0.3.1", features = ["futures-v0_3"] }
signal-hook = "0.3.14"
tokio = { version = "1.25.0", features = ["macros", "rt-multi-thread"] }
thiserror = "1.0.38"
time = { version = "0.3.17", features = ["serde", "serde-well-known", "std"] }

# First party crates
masking = { version = "0.1.0", path = "../masking" }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }

[dev-dependencies]
fake = "2.5.0"
proptest = "1.0.0"
