[package]
name = "common_utils"
description = "Utilities shared across router and other crates"
version = "0.1.0"
edition = "2021"
rust-version = "1.64"
readme = "README.md"
license = "Apache-2.0"

[dependencies]
bytes = "1.3.0"
error-stack = "0.2.4"
nanoid = "0.4.0"
once_cell = "1.16.0"
regex = "1.7.0"
serde = { version = "1.0.149", features = ["derive"] }
serde_json = "1.0.89"
serde_urlencoded = "0.7.1"
thiserror = "1.0.37"
time = { version = "0.3.17", features = ["serde", "serde-well-known", "std"] }

# First party crates
masking = { version = "0.1.0", path = "../masking" }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }

[dev-dependencies]
fake = "2.5.0"
proptest = "1.0.0"
