<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>hyperswitch</name>
    <displayName><![CDATA[Hyperswitch]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accept payments through Hyperswitch payment gateway]]></description>
    <author><![CDATA[Juspay Technologies]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
