[log.file]
enabled = false

[log.console]
enabled = true
level = "DEBUG"
log_format = "default"

[log.telemetry]
enabled = false

# TODO: Update database credentials before running application
[master_database]
username = "db_user"
password = "db_pass"
host = "localhost"
port = 5432
dbname = "hyperswitch_db"
pool_size = 5

[replica_database]
username = "replica_user"
password = "replica_pass"
host = "localhost"
port = 5432
dbname = "hyperswitch_db"
pool_size = 5
connection_timeout = 10

[proxy]

[locker]
host = ""
mock_locker = true
basilisk_host = ""

[jwekey]
locker_key_identifier1 = ""
locker_key_identifier2 = ""
locker_encryption_key1 = ""
locker_encryption_key2 = ""
locker_decryption_key1 = ""
locker_decryption_key2 = ""

[connectors.supported]
wallets = ["klarna","braintree","applepay"]
cards = ["stripe","adyen","authorizedotnet","checkout","braintree","aci","shift4","cybersource", "worldpay", "globalpay", "fiserv", "payu", "worldline", "dlocal"]

[refund]
max_attempts = 10
max_age = 365

[webhooks]
outgoing_enabled = true

[eph_key]
validity = 1

[connectors.aci]
base_url = "https://eu-test.oppwa.com/"

[connectors.adyen]
base_url = "https://checkout-test.adyen.com/"

[connectors.authorizedotnet]
base_url = "https://apitest.authorize.net/xml/v1/request.api"

[connectors.checkout]
base_url = "https://api.sandbox.checkout.com/"

[connectors.stripe]
base_url = "https://api.stripe.com/"

[connectors.braintree]
base_url = "https://api.sandbox.braintreegateway.com/"

[connectors.klarna]
base_url = "https://api-na.playground.klarna.com/"

[connectors.applepay]
base_url = "https://apple-pay-gateway.apple.com/"

[connectors.cybersource]
base_url = "https://apitest.cybersource.com/"

[connectors.shift4]
base_url = "https://api.shift4.com/"

[connectors.rapyd]
base_url = "https://sandboxapi.rapyd.net"

[connectors.fiserv]
base_url = "https://cert.api.fiservapps.com/"

[connectors.worldpay]
base_url = "http://localhost:9090/"

[connectors.payu]
base_url = "https://secure.snd.payu.com/"

[connectors.globalpay]
base_url = "https://apis.sandbox.globalpay.com/ucp/"

[connectors.worldline]
base_url = "https://eu.sandbox.api-ingenico.com/"

[connectors.dlocal]
base_url = "https://sandbox.dlocal.com/"

[scheduler]
stream = "SCHEDULER_STREAM"

[scheduler.consumer]
disabled = false
consumer_group = "SCHEDULER_GROUP"
