# Mac OS files
.DS_Store

# Output files
reports/
screenshots/
videos/

creds.json
run_all.sh

# Cypress global state files (generated during test execution)
cypress/globalState_*.json

# Cypress Dashboard build
**/dist