[package]
name = "storage_impl"
description = "Storage backend implementations for data structures in router"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
readme = "README.md"
license.workspace = true

[features]
default = ["olap", "oltp", "accounts_cache"]
dynamic_routing = []
oltp = []
accounts_cache = []
olap = ["hyperswitch_domain_models/olap"]
payouts = ["hyperswitch_domain_models/payouts"]
v1 = ["api_models/v1", "diesel_models/v1", "hyperswitch_domain_models/v1", "common_utils/v1"]
v2 = ["api_models/v2", "diesel_models/v2", "hyperswitch_domain_models/v2", "common_utils/v2"]
tokenization_v2 = ["diesel_models/tokenization_v2", "api_models/tokenization_v2", "hyperswitch_domain_models/tokenization_v2"]

[dependencies]
# First Party dependencies
api_models = { version = "0.1.0", path = "../api_models" }
common_enums = { version = "0.1.0", path = "../common_enums" }
common_utils = { version = "0.1.0", path = "../common_utils" }
diesel_models = { version = "0.1.0", path = "../diesel_models", default-features = false }
hyperswitch_domain_models = { version = "0.1.0", path = "../hyperswitch_domain_models", default-features = false }
masking = { version = "0.1.0", path = "../masking" }
redis_interface = { version = "0.1.0", path = "../redis_interface" }
router_derive = { version = "0.1.0", path = "../router_derive" }
router_env = { version = "0.1.0", path = "../router_env" }

# Third party crates
async-bb8-diesel = "0.2.1"
async-trait = "0.1.88"
bb8 = "0.8.6"
bytes = "1.10.1"
config = { version = "0.14.1", features = ["toml"] }
crc32fast = "1.4.2"
diesel = { version = "2.2.10", default-features = false, features = ["postgres"] }
dyn-clone = "1.0.19"
error-stack = "0.4.1"
futures = "0.3.31"
moka = { version = "0.12", features = ["future"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
thiserror = "1.0.69"
tokio = { version = "1.48.0", features = ["rt-multi-thread"] }

[lints]
workspace = true
