[log.file]
enabled = false

[log.console]
enabled = false

[log.telemetry]
enabled = true

[master_database]
username = "postgres"
password = "postgres"
host = "db"
port = 5432
dbname = "loadtest_router"
pool_size = 20

[server]
host = "0.0.0.0"

[redis]
host = "redis-queue"

[keys]
temp_card_key = "OJobAzAwOlibOhygIZOqOGideGUdEBeX" # 32 character long key

[locker]
host = ""
mock_locker = true
basilisk_host = ""

[eph_key]
validity = 1

[refund]
max_attempts = 10
max_age = 365

[jwekey]
locker_key_identifier1 = ""
locker_key_identifier2 = ""
locker_encryption_key1 = ""
locker_encryption_key2 = ""
locker_decryption_key1 = ""
locker_decryption_key2 = ""

[connectors.aci]
base_url = "https://eu-test.oppwa.com/"

[connectors.adyen]
base_url = "https://checkout-test.adyen.com/"

[connectors.authorizedotnet]
base_url = "https://apitest.authorize.net/xml/v1/request.api"

[connectors.checkout]
base_url = "https://api.sandbox.checkout.com/"

[connectors.stripe]
base_url = "http://stripe-mock:12111/"

[connectors.braintree]
base_url = "https://api.sandbox.braintreegateway.com/"

[connectors.applepay]
base_url = "https://apple-pay-gateway.apple.com/"

[connectors.klarna]
base_url = "https://api-na.playground.klarna.com/"

[connectors.supported]
wallets = ["klarna","braintree","applepay"]
cards = ["stripe","adyen","authorizedotnet","checkout","braintree"]
