[log.file]
enabled = false

[log.console]
enabled = false

[log.telemetry]
traces_enabled = true
metrics_enabled = true
ignore_errors = false

[master_database]
username = "postgres"
password = "postgres"
host = "db"
port = 5432
dbname = "loadtest_router"
pool_size = 20
connection_timeout = 10

[server]
host = "0.0.0.0"

[redis]
host = "redis-queue"

[secrets]
admin_api_key = "test_admin"
jwt_secret = "secret"

[locker]
host = ""
mock_locker = true
basilisk_host = ""

[eph_key]
validity = 1

[refund]
max_attempts = 10
max_age = 365

[jwekey]
locker_key_identifier1 = ""
locker_key_identifier2 = ""
locker_encryption_key1 = ""
locker_encryption_key2 = ""
locker_decryption_key1 = ""
locker_decryption_key2 = ""
vault_encryption_key = ""
vault_private_key = ""

[webhooks]
outgoing_enabled = true

[api_keys]
hash_key = "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"

[connectors]
aci.base_url = "https://eu-test.oppwa.com/"
adyen.base_url = "https://checkout-test.adyen.com/"
adyen.secondary_base_url = "https://pal-test.adyen.com/"
airwallex.base_url = "https://api-demo.airwallex.com/"
applepay.base_url = "https://apple-pay-gateway.apple.com/"
authorizedotnet.base_url = "https://apitest.authorize.net/xml/v1/request.api"
bambora.base_url = "https://api.na.bambora.com"
bitpay.base_url = "https://test.bitpay.com"
bluesnap.base_url = "https://sandbox.bluesnap.com/"
boku.base_url = "https://country-api4-stage.boku.com"
braintree.base_url = "https://api.sandbox.braintreegateway.com/"
cashtocode.base_url = "https://cluster05.api-test.cashtocode.com"
checkout.base_url = "https://api.sandbox.checkout.com/"
coinbase.base_url = "https://api.commerce.coinbase.com"
cryptopay.base_url = "https://business-sandbox.cryptopay.me"
cybersource.base_url = "https://apitest.cybersource.com/"
dlocal.base_url = "https://sandbox.dlocal.com/"
dummyconnector.base_url = "http://localhost:8080/dummy-connector"
fiserv.base_url = "https://cert.api.fiservapps.com/"
forte.base_url = "https://sandbox.forte.net/api/v3"
globalpay.base_url = "https://apis.sandbox.globalpay.com/ucp/"
globepay.base_url = "https://pay.globepay.co/"
iatapay.base_url = "https://sandbox.iata-pay.iata.org/api/v1"
klarna.base_url = "https://api-na.playground.klarna.com/"
mollie.base_url = "https://api.mollie.com/v2/"
mollie.secondary_base_url = "https://api.cc.mollie.com/v1/"
multisafepay.base_url = "https://testapi.multisafepay.com/"
nexinets.base_url = "https://apitest.payengine.de/v1"
nmi.base_url = "https://secure.nmi.com/"
noon.base_url = "https://api-test.noonpayments.com/"
nuvei.base_url = "https://ppp-test.nuvei.com/"
opayo.base_url = "https://pi-test.sagepay.com/"
opennode.base_url = "https://dev-api.opennode.com"
payeezy.base_url = "https://api-cert.payeezy.com/"
payme.base_url = "https://sandbox.payme.io/"
paypal.base_url = "https://api-m.sandbox.paypal.com/"
payu.base_url = "https://secure.snd.payu.com/"
powertranz.base_url = "https://staging.ptranz.com/api/"
rapyd.base_url = "https://sandboxapi.rapyd.net"
shift4.base_url = "https://api.shift4.com/"
stax.base_url = "https://apiprod.fattlabs.com/"
stripe.base_url = "https://api.stripe.com/"
stripe.base_url_file_upload = "https://files.stripe.com/"
worldline.base_url = "https://eu.sandbox.api-ingenico.com/"
worldpay.base_url = "https://try.access.worldpay.com/"
trustpay.base_url = "https://test-tpgw.trustpay.eu/"
tsys.base_url = "https://stagegw.transnox.com/"
wise.base_url = "https://api.sandbox.transferwise.tech/"
trustpay.base_url_bank_redirects = "https://aapi.trustpay.eu/"
zen.base_url = "https://api.zen-test.com/"

[connectors.supported]
wallets = ["klarna", "braintree", "applepay"]
rewards = ["cashtocode",]
cards = [
    "aci",
    "adyen",
    "airwallex",
    "authorizedotnet",
    "bambora",
    "bitpay",
    "bluesnap",
    "boku",
    "braintree",
    "checkout",
    "coinbase",
    "cryptopay",
    "cybersource",
    "dlocal",
    "dummyconnector",
    "fiserv",
    "forte",
    "globalpay",
    "globepay",
    "iatapay",
    "mollie",
    "multisafepay",
    "nexinets",
    "nmi",
    "noon",
    "nuvei",
    "opayo",
    "opennode",
    "payeezy",
    "payme",
    "paypal",
    "payu",
    "powertranz",
    "shift4",
    "stax",
    "stripe",
    "trustpay",
    "tsys",
    "wise",
    "worldline",
    "worldpay",
    "zen",
]

#tokenization configuration which describe token lifetime and payment method for specific connector
[tokenization]
stripe = { long_lived_token = false, payment_method = "wallet", payment_method_type = { type = "disable_only", list = "google_pay" } }
checkout = { long_lived_token = false, payment_method = "wallet" }
mollie = {long_lived_token = false, payment_method = "card"}

[dummy_connector]
payment_ttl = 172800
payment_duration = 1000
payment_tolerance = 100
payment_retrieve_duration = 500
payment_retrieve_tolerance = 100
refund_ttl = 172800
refund_duration = 1000
refund_tolerance = 100
refund_retrieve_duration = 500
refund_retrieve_tolerance = 100
authorize_ttl = 36000

[payouts]
payout_eligibility = true
