[log.file]
enabled = false

[log.console]
enabled = false

[log.telemetry]
enabled = true

[master_database]
username = "postgres"
password = "postgres"
host = "db"
port = 5432
dbname = "loadtest_router"
pool_size = 20
connection_timeout = 10

[server]
host = "0.0.0.0"

[redis]
host = "redis-queue"

[secrets]
admin_api_key = "test_admin"
jwt_secret = "secret"

[locker]
host = ""
mock_locker = true
basilisk_host = ""

[eph_key]
validity = 1

[refund]
max_attempts = 10
max_age = 365

[jwekey]
locker_key_identifier1 = ""
locker_key_identifier2 = ""
locker_encryption_key1 = ""
locker_encryption_key2 = ""
locker_decryption_key1 = ""
locker_decryption_key2 = ""
vault_encryption_key = ""
vault_private_key = ""

[webhooks]
outgoing_enabled = true

[api_keys]
hash_key = "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"

[connectors]
aci.base_url = "https://eu-test.oppwa.com/"
adyen.base_url = "https://checkout-test.adyen.com/"
airwallex.base_url = "https://api-demo.airwallex.com/"
applepay.base_url = "https://apple-pay-gateway.apple.com/"
authorizedotnet.base_url = "https://apitest.authorize.net/xml/v1/request.api"
bambora.base_url = "https://api.na.bambora.com"
bluesnap.base_url = "https://sandbox.bluesnap.com/"
braintree.base_url = "https://api.sandbox.braintreegateway.com/"
checkout.base_url = "https://api.sandbox.checkout.com/"
cybersource.base_url = "https://apitest.cybersource.com/"
dlocal.base_url = "https://sandbox.dlocal.com/"
fiserv.base_url = "https://cert.api.fiservapps.com/"
globalpay.base_url = "https://apis.sandbox.globalpay.com/ucp/"
klarna.base_url = "https://api-na.playground.klarna.com/"
mollie.base_url = "https://api.mollie.com/v2/"
multisafepay.base_url = "https://testapi.multisafepay.com/"
nuvei.base_url = "https://ppp-test.nuvei.com/"
payu.base_url = "https://secure.snd.payu.com/"
rapyd.base_url = "https://sandboxapi.rapyd.net"
shift4.base_url = "https://api.shift4.com/"
stripe.base_url = "https://api.stripe.com/"
worldline.base_url = "https://eu.sandbox.api-ingenico.com/"
worldpay.base_url = "https://try.access.worldpay.com/"
trustpay.base_url = "https://test-tpgw.trustpay.eu/"
trustpay.base_url_bank_redirects = "https://aapi.trustpay.eu/"

[connectors.mollie]
base_url = "https://api.mollie.com/v2/"

[connectors.supported]
wallets = ["klarna", "braintree", "applepay"]
cards = [
    "aci",
    "adyen",
    "airwallex",
    "authorizedotnet",
    "bambora",
    "bluesnap",
    "braintree",
    "checkout",
    "cybersource",
    "dlocal",
    "fiserv",
    "forte",
    "globalpay",
    "mollie",
    "multisafepay",
    "nuvei",
    "payu",
    "shift4",
    "stripe",
    "trustpay",
    "worldline",
    "worldpay",
]
