[package]
name = "kgraph_utils"
description = "Utilities for constructing and working with Knowledge Graphs"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[features]
dummy_connector = ["api_models/dummy_connector", "euclid/dummy_connector"]
connector_choice_mca_id = ["api_models/connector_choice_mca_id", "euclid/connector_choice_mca_id"]

[dependencies]
api_models = { version = "0.1.0", path = "../api_models", package = "api_models" }
common_enums = { version = "0.1.0", path = "../common_enums" }
hyperswitch_constraint_graph = { version = "0.1.0", path = "../hyperswitch_constraint_graph" }
euclid = { version = "0.1.0", path = "../euclid" }
masking = { version = "0.1.0", path = "../masking/" }

# Third party crates
serde = "1.0.197"
serde_json = "1.0.115"
thiserror = "1.0.58"

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "evaluation"
harness = false
