[package]
name = "kgraph_utils"
description = "Utilities for constructing and working with Knowledge Graphs"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[features]
dummy_connector = ["api_models/dummy_connector", "euclid/dummy_connector"]
v1 = ["api_models/v1", "common_utils/v1"]
v2 = ["api_models/v2", "common_utils/v2"]

[dependencies]
api_models = { version = "0.1.0", path = "../api_models", package = "api_models" }
common_enums = { version = "0.1.0", path = "../common_enums" }
common_utils = { version = "0.1.0", path = "../common_utils" }
euclid = { version = "0.1.0", path = "../euclid" }
hyperswitch_constraint_graph = { version = "0.1.0", path = "../hyperswitch_constraint_graph", features = ["viz"] }
masking = { version = "0.1.0", path = "../masking/" }

# Third party crates
serde = "1.0.197"
serde_json = "1.0.115"
strum = { version = "0.26", features = ["derive"] }
thiserror = "1.0.58"

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "evaluation"
harness = false

[lints]
workspace = true
