[package]
name = "external_services"
description = "Interactions of the router with external systems"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
readme = "README.md"
license.workspace = true

[features]
kms = ["dep:aws-config", "dep:aws-sdk-kms"]
email = ["dep:aws-config"]
hashicorp-vault = [ "dep:vaultrs" ]

[dependencies]
async-trait = "0.1.68"
aws-config = { version = "0.55.3", optional = true }
aws-sdk-kms = { version = "0.28.0", optional = true }
aws-sdk-sesv2 = "0.28.0"
aws-sdk-sts = "0.28.0"
aws-smithy-client = "0.55.3"
base64 = "0.21.2"
dyn-clone = "1.0.11"
error-stack = "0.3.1"
once_cell = "1.18.0"
serde = { version = "1.0.193", features = ["derive"] }
thiserror = "1.0.40"
tokio = "1.35.1"
hyper-proxy = "0.9.1"
hyper = "0.14.26"
vaultrs = { version = "0.7.0", optional = true }
hex = "0.4.3"

# First party crates
common_utils = { version = "0.1.0", path = "../common_utils" }
masking = { version = "0.1.0", path = "../masking" }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }
