[package]
name = "external_services"
description = "Interactions of the router with external systems"
version = "0.1.0"
edition = "2021"
rust-version = "1.65"
readme = "README.md"
license = "Apache-2.0"

[features]
kms = ["dep:aws-config", "dep:aws-sdk-kms"]
email = ["dep:aws-config"]

[dependencies]
aws-config = { version = "0.55.3", optional = true }
aws-sdk-kms = { version = "0.28.0", optional = true }
base64 = "0.21.0"
error-stack = "0.3.1"
once_cell = "1.17.1"
serde = { version = "1.0.160", features = ["derive"] }
thiserror = "1.0.40"
tokio = "1.27.0"
dyn-clone = "1.0.11"
async-trait = "0.1.66"
aws-sdk-sesv2 = "0.28.0"
aws-smithy-client =  "0.55.3"

# First party crates
common_utils = { version = "0.1.0", path = "../common_utils" }
router_env = { version = "0.1.0", path = "../router_env", features = ["log_extra_implicit_fields", "log_custom_entries_to_extra"] }
masking = { version = "0.1.0", path = "../masking" }
