html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #333333;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

#status-card {
  max-width: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px 1px rgb(231, 234, 241);
  border-radius: 0.5rem;
}

#merchant-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(231, 234, 241);
  padding: 20px 40px;
  width: calc(100% - 80px);
  font-weight: 600;
  font-size: 25px;
}
#merchant-header > img {
  height: 48px;
}

#status-image {
  margin-top: 30px;
  height: 160px;
}

#status-text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

#status-message {
  text-align: center;
  margin: 0 40px 40px 40px;
  color: rgb(103, 112, 125);
}

#resource-info-container {
  width: 100%;
  border-top: 1px solid rgb(231, 234, 241);
  padding: 20px 0;
}
#resource-info {
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
}
#info-key {
  text-align: right;
  font-size: 14px;
  min-width: 10ch;
}
#info-val {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(103, 112, 125, 0.2);
  font-size: 13px;
}
#redirect-text {
  margin-top: 40px;
}

@media only screen and (max-width: 420px) {
  body {
    overflow-y: scroll;
  }

  body {
    justify-content: start;
  }

  .main {
    width: 100%;
    min-width: 300px;
  }

  #status-card {
    box-shadow: none;
  }

  #info-key {
    min-width: 12ch;
  }

  #info-val {
    font-size: 11px;
  }

  #resource-info {
    margin: 0 10px;
  }
}
