# Skip CI checks on ignored files in CI workflow
# Reference: https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks
name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/**"
      - "crates/**"
      - "examples/**"
      - "Cargo.lock"
      - "Cargo.toml"

  pull_request:
    types:
      - "labeled"
      - "opened"
      - "ready_for_review"
      - "reopened"
      - "synchronize"
    paths-ignore:
      - ".github/workflows/**"
      - "crates/**"
      - "examples/**"
      - "Cargo.lock"
      - "Cargo.toml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  formatting:
    name: Check formatting
    if: ${{ github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'S-awaiting-merge') }}
    runs-on: ubuntu-latest
    steps:
      - name: Skip formatting
        shell: bash
        run: 'echo "Skipping formatting check"'

  check-msrv:
    name: Check compilation on MSRV toolchain
    if: ${{ github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'S-awaiting-merge') }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
    steps:
      - name: Skip compilation checks
        shell: bash
        run: 'echo "Skipping MSRV compilation checks"'

  # cargo-deny:
  #   name: Run cargo-deny
  #   if: ${{ github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'S-awaiting-merge') }}
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Skip cargo-deny
  #       shell: bash
  #       run: 'echo "Skipping cargo-deny checks"'

  test:
    name: Run tests on stable toolchain
    if: ${{ github.ref == 'refs/heads/main' || contains(github.event.pull_request.labels.*.name, 'S-awaiting-merge') }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
    steps:
      - name: Skip compilation checks
        shell: bash
        run: 'echo "Skipping stable toolchain compilation checks"'
