name: Connector UI Sanity Tests

on:
  push:
    branches:
      - main
  
  pull_request:

  merge_group:
    types:
      - checks_requested

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Disable incremental compilation.
  #
  # Incremental compilation is useful as part of an edit-build-test-edit cycle,
  # as it lets the compiler avoid recompiling code that hasn't changed. However,
  # on CI, we're not making small edits; we're almost always building the entire
  # project from scratch. Thus, incremental compilation on CI actually
  # introduces *additional* overhead to support making future builds
  # faster...but no future builds will ever occur in any given CI environment.
  #
  # See https://matklad.github.io/2021/09/04/fast-rust-builds.html#ci-workflow
  # for details.
  CARGO_INCREMENTAL: 1
  # Allow more retries for network requests in cargo (downloading crates) and
  # rustup (installing toolchains). This should help to reduce flaky CI failures
  # from transient network timeouts or other issues.
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  # Don't emit giant backtraces in the CI logs.
  RUST_BACKTRACE: short
  # Use cargo's sparse index protocol
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  test_connectors:
    name: Run tests on stable toolchain for connectors
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        connector:
          - stripe

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Decrypt connector auth file
        env:
          CONNECTOR_AUTH_PASSPHRASE: ${{ secrets.CONNECTOR_AUTH_PASSPHRASE }}
        shell: bash
        run: ./scripts/decrypt_connector_auth.sh

      - name: Set connector auth file path in env
        shell: bash
        run: echo "CONNECTOR_AUTH_FILE_PATH=$HOME/target/test/connector_auth.toml" >> $GITHUB_ENV

      - name: Set connector tests file path in env
        shell: bash
        run: echo "CONNECTOR_TESTS_FILE_PATH=$HOME/target/test/connector_tests.json" >> $GITHUB_ENV

      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
      - uses: Swatinem/rust-cache@v2.4.0
      
      - name: Build hyperswitch
        shell: bash
        run: cargo build

      - name: Start server and Run tests
        env:
          UI_TESTCASES_PATH: ${{ secrets.UI_TESTCASES_PATH }}
        shell: bash
        run: sh scripts/run_ui_tests.sh ${{ matrix.connector }}
      
      - name: Check test results
        shell: bash
        run:  |
          cat tests/test_results.log
          if test "$( grep 'test result: FAILED' -r tests/test_results.log | wc -l )" -gt "0"; then
            exit 1
          fi